Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

add push payload fix
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

update
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/endpoints/notifications.ts
  packages/backend/src/server/api/mastodon/entities/notification.ts
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

bug fixes
  packages/backend/src/server/api/mastodon/converters/notification.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency tsd to v0.31.1
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix (client): handle fg/bg MFM with no color argument
  packages/client/src/components/mfm.ts
Due: test:build:client, build:container

chore(deps): update dependency @types/node to v20.14.3
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update pnpm to v9.4.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1643.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): compile for native cpu arch
  packages/backend-rs/package.json
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): update napi-rs dependencies
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Makefile
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency sass to v1.77.6
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency @types/node to v20.14.5
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency @redocly/openapi-core to v1.16.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (German)
  locales/de-DE.yml
Due: test:build:client, build:container

chore(deps): update rust-url
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1644.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

Search everything in database
  packages/backend/src/server/api/endpoints/notes/search.ts
Due: test:build:backend_ts, build:container

Search everything in database
  packages/backend/src/server/api/mastodon/helpers/search.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency @swc/core to v1.6.3
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency @types/node to v20.14.6
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency webpack to v5.92.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency nodemailer to v6.9.14
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1645.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update biome to v1.8.2
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix MSRV to v1.74
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency typescript to v5.5.2
  package.json
  packages/backend/package.json
  packages/client/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1646.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/node to v20.14.7
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate proc-macro2 to 1.0.86
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.67
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency bull to v4.13.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/uuid to v10
  packages/backend/package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore (backend-rs): address TODO
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency execa to v9.3.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update swc monorepo
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update definitelytyped
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix (backend): check URL properly
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/client/src/pages/user/home.vue
Due: test:build:backend_ts, test:build:client, build:container

chore (client): restrict possible page values
  packages/client/src/pages/user/index.vue
Due: test:build:client, build:container
