Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

docs: add link to the tracking issue
  docs/changelog.md
Due: none

chore(deps): update dependency vue-tsc to v2.0.24
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate serde_json to 1.0.119
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency bull to v4.15.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

Do not update Cargo.lock as it breaks MSRV
  pnpm-lock.yaml
Due: none

chore(deps): update rust crate napi-derive to 2.16.8
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency typescript to v5.5.3
  packages/backend/package.json
  packages/client/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update rust crate serde_json to 1.0.120
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency qs to v6.12.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency @redocly/openapi-core to v1.17.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1652.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate idna to 1.0.2
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

ci, container: specify NODE_OPTIONS
  .gitlab-ci.yml
  Dockerfile
Due: build:container

ci: fix before_script when *.node file does not exist
  .gitlab-ci.yml
Due: none

fix (backend): broken RSS feed title
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/misc/is_quote.rs
  packages/backend/src/server/web/feed.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

client: update default url for RSS widget
  packages/client/src/widgets/rss-ticker.vue
  packages/client/src/widgets/rss.vue
Due: test:build:client, build:container

search fix
  packages/backend/src/misc/search.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency katex to v0.16.11
  packages/backend/package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency mocha to v10.6.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency type-fest to v4.21.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1653.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

note creation fix
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

Revert visibility changes
  packages/backend/src/server/api/mastodon/helpers/misc.ts
  packages/backend/src/server/api/mastodon/helpers/search.ts
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build:backend_ts, build:container

meta: update issue/merge request templates (closes #10942)
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/refactor.md
  .gitlab/merge_request_templates/default.md
  .gitlab/merge_request_templates/release.md
Due: none

meta: use bug.md as default issue template
  .gitlab/issue_templates/default.md
Due: none

meta: fix "Third-party client" label also adds "Client" label
  .gitlab/issue_templates/default.md
Due: none

meta: update issue templates
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

ci: update renovate config
  renovate.json
Due: none

chore (deps): Cargo.lock maintenance
  Cargo.lock
Due: test:build, build:container, cargo:test, cargo:doc

meta: update issue templates (overlooked at 38f14f19)
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

chore: take care of subdependency versions in the lockfile
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

docs: update the installation guide and admin notes (close #10957)
  docs/install.md
  docs/notice-for-admins.md
Due: none

docs: minor enhancement
  docs/install.md
  docs/notice-for-admins.md
Due: none

ci: fix before_script for ts backend build
  .gitlab-ci.yml
Due: none

chore(deps): update dependency vite to v5.3.3
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

docs: update changelog
  docs/changelog.md
Due: none

locale: update translations (Russian)
  locales/ru-RU.yml
Due: test:build:client, build:container
