Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - npm install --global netlify-cli
  script:
  - cargo doc --no-deps --document-private-items
  ...

docs: link to main branch
  README.md
  docs/changelog.md
  docs/install-container.md
  docs/install.md
  docs/notice-for-admins.md
  docs/upgrade.md
Due: none

chore(deps): update rust crate sysinfo to 0.30.13
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

chore(deps): update dependency ts-jest to v29.2.1
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency vue-draggable-plus to v0.5.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate nom-exif to 1.2.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

ci: update renovate config
  renovate.json
Due: none

refactor (backend): ensure that instance.actor and relay.actor exist
  docs/downgrade.sql
  packages/backend/src/migration/1720618854585-create-system-actors.ts
  packages/backend/src/services/instance-actor.ts
  packages/backend/src/services/relay.ts
Due: build:container

fix (backend): count correct local users
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/user/count.rs
  packages/backend-rs/src/misc/user/mod.rs
  packages/backend/src/server/api/common/signup.ts
  packages/backend/src/server/api/endpoints/admin/accounts/create.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/api/endpoints/stats.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend): skip the reverted drop-time-zone migration
  packages/backend/src/migration/1712425488543-drop-time-zone.ts
  packages/backend/src/migration/1715351290096-add-back-timezone.ts
Due: test:build:backend_ts, build:container

chore (backend-rs): add comment on NUMBER_OF_SYSTEM_ACTORS
  packages/backend-rs/src/misc/user/count.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): provide DbConn as an argument of user::count::local_total
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/user/count.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): add comment
  packages/backend-rs/src/federation/nodeinfo/generate.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

meta: GitLab issue actions don't work for unprivileged users...
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/discussion.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

meta: remove no-longer-needed double quotes from issue templates
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/discussion.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

chore(deps): update dependency ts-jest to v29.2.2
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix(deps): update dependency file-type to v19.1.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1658.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

meta: update issue templates
  .gitlab-ci.yml
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/discussion.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

code format
  packages/backend/src/server/api/mastodon/endpoints/status.ts
  packages/backend/src/server/api/mastodon/helpers/mfm.ts
  packages/backend/src/server/api/mastodon/helpers/search.ts
  packages/client/src/components/global/MkTime.vue
  packages/client/src/pages/note.vue
Due: test:build:backend_ts, test:build:client, build:container

fix(backend): refactor CreateSystemActors with QueryRunner
  packages/backend/src/migration/1720618854585-create-system-actors.ts
Due: test:build:backend_ts, build:container

chore: update format
  packages/backend/src/migration/1720618854585-create-system-actors.ts
Due: test:build:backend_ts, build:container

locale: update translations (Spanish)
  locales/es-ES.yml
Due: test:build:client, build:container

fix(client): use app locale for note header date
  packages/client/src/pages/note.vue
Due: test:build:client, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore (deps): pin ravif/bitstream-io versions
  Cargo.lock
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.58
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix(deps): update bull-board to v5.21.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency sass to v1.77.8
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency webpack to v5.93.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate thiserror to 1.0.62
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

docs: minor updates
  README.md
  docs/install.md
Due: none

fix (client): backup useEmojiCdn setting (close #10962)
  packages/client/src/pages/settings/preferences-backups.vue
Due: test:build:client, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (Indonesian)
  locales/id-ID.yml
Due: test:build:client, build:container

chore(deps): update rust crate nom-exif to 1.2.3
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency @redocly/openapi-core to v1.18.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

ci: close stalled issues
  .gitlab-ci.yml
Due: none

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
