Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

refactor (backend): port publishDriveStream to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/drive.rs
  packages/backend/src/server/api/endpoints/drive/files/delete.ts
  packages/backend/src/server/api/endpoints/drive/files/update.ts
  packages/backend/src/server/api/endpoints/drive/folders/create.ts
  packages/backend/src/server/api/endpoints/drive/folders/delete.ts
  packages/backend/src/server/api/endpoints/drive/folders/update.ts
  packages/backend/src/services/drive/add-file.ts
  packages/backend/src/services/stream.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port publishNotesStream to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/notes.rs
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/stream.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor: macro-rs -> macros + macros_impl
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  packages/backend-rs/Cargo.toml
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/lib.rs
  packages/macro-rs/macros-impl/Cargo.toml
  packages/macro-rs/macros-impl/src/lib.rs
  packages/macro-rs/macros-impl/src/napi.rs
  packages/macro-rs/macros-impl/src/util/mod.rs
  packages/macro-rs/macros-impl/src/util/tester.rs
  packages/macro-rs/macros/Cargo.toml
  packages/macro-rs/macros/src/helper.rs
  packages/macro-rs/macros/src/lib.rs
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

test (backend-rs): ignore some tests in Miri
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/password.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: format
  packages/macro-rs/macros-impl/src/util/tester.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (macros-impl): allow clippy::items_after_test_module
  packages/macro-rs/macros-impl/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency webpack to v5.92.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency @redocly/openapi-core to v1.15.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1639.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency sass to v1.77.5
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency bull to v4.13.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (macros-impl): add linebreaks to napi error reason
  packages/macro-rs/macros-impl/src/napi.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

test (backend-rs): minor refactoring
  packages/backend-rs/src/util/error_chain.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

container: rearrange operations for cache efficiency
  Dockerfile
Due: build:container

fix(deps): update dependency aws-sdk to v2.1640.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

test: add pnpm script to run Miri
  package.json
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency @swc/core to v1.5.29
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

container: COPY Cargo.toml and Cargo.lock in one step
  Dockerfile
Due: build:container

v20240613
  docs/changelog.md
  package.json
Due: test:build, build:container, cargo:test, cargo:doc

style: swap instance icons in the ticker and info page
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/pages/instance-info.vue
Due: test:build:client, build:container

chore(deps): update dependency vite to v5.3.0
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1641.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency vite to v5.3.1
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate bb8 to 0.8.5
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update vue monorepo to v3.4.28
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update vue monorepo to v3.4.29
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency eslint to v9.5.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1642.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): reference Options using as_ref
  packages/backend-rs/src/misc/note/elaborate.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): prefer using as_ref & apply clippy fix
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix(deps): update bull-board to v5.20.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @swc/core to v1.6.0
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency type-fest to v4.20.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): move same process outside of a loop
  packages/backend-rs/src/service/antenna/check_hit.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @swc/core to v1.6.1
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix (client): client crashes when Web Audio API is disabled (close #10948)
  packages/client/src/scripts/sound.ts
Due: test:build:client, build:container

chore(deps): update dependency ts-jest to v29.1.5
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency ws to v8.17.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container
