Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

dev: gitignore local cargo config
  .gitignore
Due: none

chore (backend-rs): use sea_orm::prelude
  packages/backend-rs/src/misc/remove_old_attestation_challenges.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/note/watch.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix (backend-rs): use the exact same time for id and created_at
  packages/backend-rs/src/service/note/watch.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @types/node to v20.14.0
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1633.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix (backend): show all tracing logs
  packages/backend/src/boot/index.ts
  packages/backend/src/boot/master.ts
Due: test:build:backend_ts, build:container

chore (backend): show less unhelpful slow query warnings
  packages/backend-rs/src/database/postgresql.rs
  packages/backend/src/db/postgre.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: format
  packages/backend-rs/src/database/postgresql.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

style (backend): match log colors
  packages/backend/src/services/logger.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/node to v20.14.1
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency otpauth to v9.3.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency ajv to v8.15.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (English)
  locales/en-US.yml
Due: test:build:client, build:container

locale: update translations (German)
  locales/de-DE.yml
Due: test:build:client, build:container

fix(deps): update dependency adm-zip to v0.5.14
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency type-fest to v4.19.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency got to v14.4.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

ci: group biome dependencies in renovate config
  renovate.json
Due: none

chore(deps): update biome to v1.8.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency pg to v8.12.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency ajv to v8.16.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1634.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

ci: add clean task
  .gitlab-ci.yml
Due: none

chore: make subscription types enum
  docs/downgrade.sql
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/model/entity/sea_orm_active_enums.rs
  packages/backend-rs/src/model/entity/sw_subscription.rs
  packages/backend/src/migration/1715181461692-addMastodonSubscriptionType.ts
  packages/backend/src/models/entities/sw-subscription.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): return None if the cached value is invalid
  packages/backend-rs/src/database/cache.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @swc/core to v1.5.25
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency @types/node to v20.14.2
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update pnpm to v9.2.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update bull-board to v5.20.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1635.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(backend-rs): update padding logic to accomodate non-ASCII payload
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): fetch_meta -> local_server_info
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/config/constant.rs
  packages/backend-rs/src/config/environment.rs
  packages/backend-rs/src/config/meta.rs
  packages/backend-rs/src/config/mod.rs
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/check_server_block.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: make the code a bit more readable
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: unsubscribe invalid push subscriptions
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: overlooked invalid push subscription branch
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

docs: update install.md
  docs/install.md
Due: none

docs: fix mistake in merge conflict resolution
  docs/api-change.md
Due: none

docs: update api-change.md
  docs/api-change.md
Due: none

docs: update changelog
  docs/changelog.md
Due: none
