Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:check:msrv:
  stage: test
  image: docker.io/rust:1.74-slim-bookworm
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  script:
  - cargo doc --document-private-items
  ...

fix(deps): update dependency aws-sdk to v2.1687.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: fix/update downgrade instructions
  docs/downgrade.md
  docs/downgrade.sql
Due: none

fix (client): bottom bar hides antenna save/delete buttons on mobile
  packages/client/src/pages/my-antennas/editor.vue
Due: test:build:client, build:container

fix: weird typo
  docs/downgrade.sql
Due: none

docs: add note for migration
  docs/downgrade.md
Due: none

locale: update translations (German)
  locales/de-DE.yml
Due: test:build:client, build:container

chore (backend-rs): ttl -> valid_duration
  packages/backend-rs/src/cache/bare.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

docs: gulp tasks may produce unstaged changes
  docs/downgrade.md
Due: none

docs: avoid using superuser
  docs/downgrade.md
  docs/downgrade.sql
Due: none

docs: add more description
  docs/downgrade.md
Due: none

client: maintenance mode notice
  packages/client/src/pages/admin/index.vue
Due: test:build:client, build:container

docs: the fish will be in maintenance mode
  docs/changelog.md
  docs/install.md
  docs/notice-for-admins.md
Due: none

v20240905
  docs/changelog.md
  docs/install.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:doc

fix (deps): Cargo.lock maintenance
  Cargo.lock
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

docs: update changelog
  docs/changelog.md
Due: none

docs: add disclaimer to install-container.md
  docs/install-container.md
Due: none

v20240909
  docs/changelog.md
  package.json
Due: test:build, build:container, cargo:doc

test (macro-rs): fix broken tests
  packages/macro-rs/macros-impl/src/napi.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix: youtube preview UA
  packages/backend/package.json
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/web/url-preview.ts
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(client): mini note header visibility
  packages/client/src/components/note/MkNoteHeader.vue
Due: test:build:client, build:container

chore: do not log the entire response body
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): improve validation of AP activities & objects
  packages/backend/src/queue/processors/inbox.ts
  packages/backend/src/remote/activitypub/check-fetch.ts
  packages/backend/src/remote/activitypub/kernel/create/note.ts
  packages/backend/src/remote/activitypub/kernel/index.ts
  packages/backend/src/remote/activitypub/kernel/update/index.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/server/activitypub.ts
  packages/client/src/pages/user/home.vue
  packages/client/src/scripts/get-user-menu.ts
Due: test:build:backend_ts, test:build:client, build:container

fix (backend): limit /api/ap/get to admins
  packages/backend/src/server/api/endpoints/ap/get.ts
  packages/client/src/pages/user-info.vue
Due: test:build:backend_ts, test:build:client, build:container

fix (backend): copy missing assets
  scripts/copy-assets.mjs
Due: test:build, build:container

fix (backend): enforce blocks in NoteRepository.isVisibleForMe
  packages/backend/src/models/repositories/note.ts
Due: test:build:backend_ts, build:container

fix (backend): create a new resolver in parseAudience if none is passed to the function
  packages/backend/src/remote/activitypub/audience.ts
Due: test:build:backend_ts, build:container

fix (backend): strengthen checks against local object resolution
  packages/backend/src/remote/activitypub/db-resolver.ts
  packages/backend/src/remote/activitypub/models/person.ts
Due: test:build:backend_ts, build:container

chore: archive the repository on Codeberg and remove links to firefish.dev
  .gitlab-ci.yml
  README.md
  dev/container/docker-entrypoint.sh
  dev/docs/container.md
  dev/docs/db-container.md
  dev/docs/local-installation.md
  docker-compose.example.yml
  docs/changelog.md
  docs/downgrade.md
  docs/install-container.md
  docs/install.md
  docs/notice-for-admins.md
  docs/upgrade.md
  package.json
  packages/backend-rs/README.md
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/init/greet.rs
  packages/backend-rs/src/misc/emoji/reaction.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/is_safe_url.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/nyaify.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/web/views/base.pug
  packages/client/src/components/MkSample.vue
  packages/client/src/instance.ts
  packages/client/src/pages/about-firefish.vue
  packages/client/src/pages/admin/index.vue
  packages/client/src/pages/mfm-cheat-sheet.vue
  packages/client/src/ui/visitor/a.vue
  packages/client/src/ui/visitor/b.vue
  packages/client/src/ui/visitor/kanban.vue
  packages/client/src/widgets/rss-ticker.vue
  packages/client/src/widgets/rss.vue
  packages/firefish-js/package.json
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore: format
  packages/client/src/pages/mfm-cheat-sheet.vue
Due: test:build:client, build:container

fix (client): inline replies on chrome >= 130 only partially being displayed
  packages/client/src/components/note/MkNoteHeader.vue
Due: test:build:client, build:container

fix (backend): strengthen IP address checks
  .config/devenv.yml
  .config/example.yml
  .config/helm_values_example.yml
  docs/notice-for-admins.md
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/is_safe_url.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/translate.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/package.json
  packages/backend/src/misc/captcha.ts
  packages/backend/src/misc/download-url.ts
  packages/backend/src/remote/activitypub/misc/ld-signature.ts
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/server/proxy/proxy-media.ts
  packages/backend/src/services/drive/upload-from-url.ts
  packages/backend/src/services/fetch-instance-metadata.ts
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): check UA for proxyMedia
  packages/backend/src/server/proxy/proxy-media.ts
Due: test:build:backend_ts, build:container

fix (backend): apply rate limits to proxyServer and fileServer
  packages/backend/src/server/file/send-drive-file.ts
  packages/backend/src/server/proxy/proxy-media.ts
Due: test:build:backend_ts, build:container

chore: format
  packages/backend/src/remote/activitypub/models/person.ts
Due: test:build:backend_ts, build:container

v20241121
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:doc

docs: firefish.dev is okay until its EoL
  docs/upgrade.md
Due: none

fix(backend): syntax issue
  packages/backend/src/remote/activitypub/models/person.ts
Due: test:build:backend_ts, build:container

fix (deps): update napi versions
  Cargo.lock
  Cargo.toml
  docs/notice-for-admins.md
  packages/backend-rs/Makefile
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/package.json
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/misc/convert_host.rs
  packages/backend-rs/src/misc/emoji/reaction.rs
  packages/backend-rs/src/misc/nyaify.rs
  packages/backend-rs/src/misc/translate.rs
  packages/backend-rs/src/model/entity/sea_orm_active_enums.rs
  packages/macro-rs/macros-impl/src/napi.rs
  packages/macro-rs/macros/src/lib.rs
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
