Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

chore (client): Firefish versions are lexicographically ordered
  packages/client/src/init.ts
Due: test:build:client, build:container

chore (client): do not call getInstanceInfo twice
  packages/client/src/init.ts
Due: test:build:client, build:container

docs: update installation guide
  docs/install.md
Due: none

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

refactor: use dont federate initially flag instead of visibility hack
  packages/backend/src/misc/post.ts
  packages/backend/src/queue/processors/db/import-firefish-post.ts
  packages/backend/src/queue/processors/db/import-masto-post.ts
  packages/backend/src/services/note/create.ts
Due: test:build:backend_ts, build:container

chore: reduce code duplication
  packages/backend/src/queue/processors/db/import-masto-post.ts
  packages/backend/src/remote/activitypub/audience.ts
Due: test:build:backend_ts, build:container

fix: unsure string[] -> string
  packages/backend/src/queue/processors/db/import-masto-post.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency ws to v8.18.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1654.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

style: highlight Lookup button in the post search box
  packages/client/src/components/MkPostSearch.vue
Due: test:build:client, build:container

meta: update merge request template
  .gitlab/merge_request_templates/default.md
Due: none

meta: update issue templates
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

chore (client): rename instance variable
  packages/client/src/instance.ts
Due: test:build:client, build:container

fix (client): missing variables
  packages/client/src/ui/visitor/b.vue
Due: test:build:client, build:container

chore (client): make sure to remove splash screen DOM element
  packages/client/src/init.ts
Due: test:build:client, build:container

fix (client): set default values of the instance data
  packages/backend/src/boot/master.ts
  packages/client/src/instance.ts
Due: test:build:backend_ts, test:build:client, build:container

fix (client, firefish-js): fix type of moreUrls
  packages/client/src/instance.ts
  packages/firefish-js/src/entities.ts
Due: test:build:backend_ts, test:build:client, build:container

fix(deps): update dependency @redocly/openapi-core to v1.17.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency bull to v4.15.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

feat: add ability to disable the cat language conversion
  docs/api-change.md
  docs/changelog.md
  docs/downgrade.sql
  locales/en-US.yml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/should_nyaify.rs
  packages/backend-rs/src/model/entity/user.rs
  packages/backend/src/migration/1720107645050-turn-off-cat-language.ts
  packages/backend/src/models/entities/user.ts
  packages/backend/src/models/repositories/note.ts
  packages/backend/src/models/repositories/user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/client/src/pages/settings/general.vue
  packages/firefish-js/src/api.types.ts
  packages/firefish-js/src/entities.ts
  packages/firefish-js/src/schema/user.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

feat: respect cat language conversion settings
  packages/backend/src/server/api/mastodon/converters/note.ts
Due: test:build:backend_ts, build:container

chore: format
  packages/backend-rs/src/misc/should_nyaify.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend): add type annotation
  packages/backend/src/models/repositories/antenna.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency vue-tsc to v2.0.26
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.56
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): update napi-derive
  Cargo.lock
  Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/chat_index.rs
  packages/backend-rs/src/service/stream/drive.rs
  packages/backend/src/server/api/common/read-messaging-message.ts
  packages/backend/src/server/api/common/read-notification.ts
  packages/backend/src/server/api/endpoints/drive/files/delete.ts
  packages/backend/src/server/api/endpoints/drive/files/update.ts
  packages/backend/src/server/api/endpoints/drive/folders/create.ts
  packages/backend/src/server/api/endpoints/drive/folders/delete.ts
  packages/backend/src/server/api/endpoints/drive/folders/update.ts
  packages/backend/src/server/api/endpoints/notifications/mark-all-as-read.ts
  packages/backend/src/server/api/stream/index.ts
  packages/backend/src/services/create-notification.ts
  packages/backend/src/services/drive/add-file.ts
  packages/backend/src/services/messages/create.ts
  packages/backend/src/services/messages/delete.ts
  packages/backend/src/services/note/create.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): update napi
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

docs: add some docs for backend-rs
  packages/backend-rs/README.md
  packages/backend-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix (client): clicking remote instance ticker on unsigned UI causes an API error
  packages/client/src/components/note/MkNoteHeader.vue
Due: test:build:client, build:container

ci: specify different target directory for msrv check
  .gitlab-ci.yml
  ci/.gitignore
Due: none

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (Japanese)
  locales/ja-JP.yml
Due: test:build:client, build:container

chore (client): move accessibility settings into a separate page
  packages/client/src/pages/settings/accessibility.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/pages/settings/index.vue
  packages/client/src/router.ts
Due: test:build:client, build:container

docs (backend-rs): minor updates
  packages/backend-rs/README.md
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

ci: add miri task
  .gitlab-ci.yml
Due: none

ci: update miri task
  .gitlab-ci.yml
  ci/.gitignore
Due: none

chore(deps): update dependency @types/node to v20.14.10
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1655.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container
