Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

fix (backend-rs): encode redis password
  packages/backend-rs/src/database/redis.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (client): address scss format deprecation warnings
  packages/client/src/components/MkChatPreview.vue
  packages/client/src/components/MkNoteSub.vue
  packages/client/src/components/MkSuperMenu.vue
  packages/client/src/components/MkWindow.vue
  packages/client/src/components/note/MkNoteFooter.vue
  packages/client/src/pages/admin/overview.users.vue
  packages/client/src/style.scss
  packages/client/src/ui/_common_/navbar.vue
  packages/client/src/ui/_common_/statusbars.vue
Due: test:build:client, build:container

meta: update issue template
  .gitlab/issue_templates/default.md
Due: none

chore(deps): update rust crate nom-exif to 1.2.4
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.71
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1659.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/matter-js to v0.19.7
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency @types/ws to v8.5.11
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate nom-exif to 1.2.5
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency ajv to v8.17.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (backend): port getInstanceActor/getRelayActor to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/internal_actor/cache.rs
  packages/backend-rs/src/federation/internal_actor/mod.rs
  packages/backend-rs/src/federation/mod.rs
  packages/backend-rs/src/misc/user/count.rs
  packages/backend/src/remote/activitypub/resolver.ts
  packages/backend/src/server/activitypub.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
  packages/backend/src/services/instance-actor.ts
  packages/backend/src/services/relay.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

docs: fix merge error in api-change.md
  docs/api-change.md
Due: none

chore(deps): update rust crate nom-exif to 1.2.6
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore (backend-rs): prefer to_owned() over to_string()
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/init/log.rs
  packages/backend-rs/src/init/system_info.rs
  packages/backend-rs/src/misc/check_server_block.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/note/summarize.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/misc/system_info.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/note/watch.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/util/error_chain.rs
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

docs: update changelog
  docs/changelog.md
Due: none

chore (backend-rs): do not use Arc for internal actor caches at least for now
  packages/backend-rs/src/federation/internal_actor/cache.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

ci: make container build a scheduled task
  .gitlab-ci.yml
Due: none

v20240714
  docs/api-change.md
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:doc

chore(deps): update dependency compare-versions to v6.1.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore: remove patrons.json
  patrons.json
Due: none

chore(deps): update rust crate napi to 3.0.0-alpha.7
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix (client): don't return undefined from native Mk:dialog implementation
  packages/client/src/scripts/aiscript/api.ts
Due: test:build:client, build:container

fix(deps): update dependency msgpackr to v1.11.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency swiper to v11.1.5
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency @syuilo/aiscript to v0.19.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.59
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix(client): initialize header tab sizing with webfont
  packages/client/src/components/global/MkPageHeader.vue
Due: test:build:client, build:container

test (backend-rs): make `ts_export`ed functions testable
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/check_server_block.rs
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore: update auto-generated file
  packages/backend-rs/index.d.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend): address openvibe's invalid acct format
  packages/backend/src/server/api/mastodon/helpers/user.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.60
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency vite to v5.3.4
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate napi-derive to 3.0.0-alpha.6
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

locale: update translations (Spanish)
  locales/es-ES.yml
Due: test:build:client, build:container

fix (client): correctly set alsoKnownAs in account migration UI
  packages/client/src/pages/settings/migration.vue
Due: test:build:client, build:container

chore (client): make sure that accountAlias is not empty
  packages/client/src/pages/settings/migration.vue
Due: test:build:client, build:container

chore(deps): update rust crate tokio to 1.38.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore (backend-rs, macro-rs): generate document from error messages
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/federation/internal_actor/cache.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/convert_host.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/password.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/misc/should_nyaify.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/util/error_chain.rs
  packages/backend-rs/src/util/http_client.rs
  packages/macro-rs/macros-impl/src/error.rs
  packages/macro-rs/macros-impl/src/lib.rs
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc
