Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

chore(deps): update dependency rollup to v4.19.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency ts-jest to v29.2.4
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix(deps): update dependency @redocly/openapi-core to v1.19.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

feat: instance ticker fallback and url preview image fallback
  packages/backend/assets/resource-unknown.svg
  packages/client/src/components/MkInstanceCardMini.vue
  packages/client/src/components/MkInstanceTicker.vue
  packages/client/src/components/MkUrlPreview.vue
  packages/client/src/ui/_common_/statusbar-federation.vue
  packages/client/src/widgets/federation.vue
  packages/client/src/widgets/instance-cloud.vue
Due: test:build:backend_ts, test:build:client, build:container

fix(client): MkPullToRefresh logical directions
  packages/client/src/components/MkPullToRefresh.vue
Due: test:build:client, build:container

refactor (backend-rs): rework static cache
  packages/backend-rs/src/cache/bare.rs
  packages/backend-rs/src/cache/mod.rs
  packages/backend-rs/src/config/meta.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/service/antenna/cache.rs
  packages/backend-rs/src/service/antenna/mod.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/antenna/update.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): set cache ttl
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/cache/bare.rs
  packages/backend-rs/src/config/meta.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/should_nyaify.rs
  packages/backend-rs/src/service/antenna/mod.rs
  packages/backend/src/boot/master.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): move redis cache to cache module
  packages/backend-rs/src/cache/mod.rs
  packages/backend-rs/src/cache/redis.rs
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/random_icon.rs
  packages/backend-rs/src/misc/should_nyaify.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): use chrono::Duration for Redis cache TTL
  packages/backend-rs/src/cache/redis.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/random_icon.rs
  packages/backend-rs/src/misc/should_nyaify.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): use bare cache for latest_version
  packages/backend-rs/src/misc/latest_version.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend-rs): fix doc comments
  packages/backend-rs/src/cache/redis.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): apply clippy fixes
  packages/backend-rs/src/cache/bare.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): address nightly clippy warnings
  packages/backend-rs/src/cache/redis.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/stream.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @vitejs/plugin-vue to v5.1.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate sysinfo to 0.31.2
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency axios to v1.7.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency qs to v6.13.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix (backend): select all columns in select queries by default (close #10988)
  packages/backend/src/models/entities/note.ts
  packages/backend/src/models/entities/user-profile.ts
  packages/backend/src/models/entities/user.ts
Due: test:build:backend_ts, build:container

docs: update changelog
  docs/changelog.md
Due: none

container: remove redundant step
  Dockerfile
Due: build:container

chore(deps): update dependency fast-blurhash to v1.1.4
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate serde_json to 1.0.122
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1666.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (backend): port renderTombstone to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/tombstone.rs
  packages/backend/src/remote/activitypub/renderer/tombstone.ts
  packages/backend/src/services/messages/delete.ts
  packages/backend/src/services/note/delete.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @types/node to v20.14.14
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

chore(deps): update rust crate redis to 0.26.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate sea-orm to v1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

locale: update translations (English)
  locales/en-US.yml
Due: test:build:client, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (Chinese (Simplified))
  locales/zh-CN.yml
Due: test:build:client, build:container

locale: update translations (Esperanto)
  locales/eo.yml
Due: test:build:client, build:container

fix (client): make sure that bottom bar doesn't hide content
  packages/client/src/components/global/MkSpacer.vue
Due: test:build:client, build:container

chore(deps): update rust crate regex to 1.10.6
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1667.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency file-type to v19.4.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (backend): port renderFlag to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/flag.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend/src/remote/activitypub/renderer/flag.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): add {note, user}::local_uri functions
  packages/backend-rs/src/federation/activitypub/object/accept.rs
  packages/backend-rs/src/federation/activitypub/object/flag.rs
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/federation/activitypub/object/tombstone.rs
  packages/backend-rs/src/misc/note/mod.rs
  packages/backend-rs/src/misc/user/mod.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

ci: use normal Rust images
  .gitlab-ci.yml
Due: none
