Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts_only, test:build:client_only, build:container, cargo:test, cargo:clippy

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate

test:build:backend_ts_only:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 nodejs postgresql-client
  - corepack enable
  ...

test:build:client_only:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:bookworm-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - pnpm install --frozen-lockfile
  - mkdir packages/backend-rs/built
  - cp packages/backend-rs/index.js packages/backend-rs/built/index.js
  ...

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

chore(deps): update dependency @types/node to v20.12.12
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update dependency swiper to v11.1.3
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build, build:container

ci: update renovate config
  renovate.json
Due: none

chore(deps): update dependency vue-draggable-plus to v0.4.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update dependency vue-tsc to v2.0.18
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update pnpm to v9.1.1
  package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update rust crate serde to v1.0.202
  Cargo.lock
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): update rust crate syn to v2.0.63
  Cargo.lock
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): update swc monorepo
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency bull to v4.12.4
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency is-svg to v5.0.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency websocket to v1.0.35
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update dependency execa to v9.1.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency aws-sdk to v2.1620.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

locale: update translations (French)
  locales/fr-FR.yml
Due: test:build:client_only, build:container

chore: remove import assertion
  scripts/copy-assets.mjs
Due: test:build, build:container

chore: remove import assertion
  docs/notice-for-admins.md
  packages/backend/src/server/web/manifest.json
  packages/backend/src/server/web/manifest.ts
Due: test:build:backend_ts_only, build:container

chore (backend): use literals and consts
  packages/backend/src/server/web/index.ts
  packages/backend/src/server/web/manifest.ts
Due: test:build:backend_ts_only, build:container

chore: format
  packages/backend/src/server/api/endpoints/admin/server-info.ts
  packages/backend/src/server/web/index.ts
Due: test:build:backend_ts_only, build:container

fix: remove $[center] MFM function
  docs/changelog.md
  packages/client/src/components/mfm.ts
  packages/client/src/pages/mfm-cheat-sheet.vue
  packages/client/src/scripts/mfm-tags.ts
Due: test:build:client_only, build:container

docs: update changelog
  docs/changelog.md
Due: none

chore: update auto-generated files
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
Due: test:build, build:container, cargo:test, cargo:clippy

docs: use permalink
  docs/changelog.md
Due: none

default locale fix
  packages/backend/src/server/api/mastodon/converters/notification.ts
Due: test:build:backend_ts_only, build:container

chore(deps): update rust crate serde to 1.0.202
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): update rust crate syn to 2.0.63
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency aws-sdk to v2.1621.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

refactor (backend): port push notification sender to backend-rs
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/service/mod.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/package.json
  packages/backend/src/server/api/common/read-messaging-message.ts
  packages/backend/src/server/api/common/read-notification.ts
  packages/backend/src/server/api/endpoints/notifications/mark-all-as-read.ts
  packages/backend/src/services/create-notification.ts
  packages/backend/src/services/messages/create.ts
  packages/backend/src/services/push-notification.ts
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy

fix merge mistake
  packages/backend-rs/src/misc/get_note_summary.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy

fix: remove unnecessary copy operation (close #10926)
  packages/client/package.json
  pnpm-lock.yaml
  scripts/copy-assets.mjs
Due: test:build, build:container

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

v20240516
  docs/api-change.md
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container

chore (client): remove debug prints
  packages/client/src/scripts/check-word-mute.ts
Due: test:build:client_only, build:container

ci: add firefish-js to backend deps
  .gitlab-ci.yml
Due: none

chore (backend): sort dependencies in package.json
  packages/backend/package.json
Due: test:build:backend_ts_only, build:container

locale (minor): update en-US.yml
  locales/en-US.yml
Due: test:build:client_only, build:container

fix (backend): correct relation
  packages/backend/src/models/entities/scheduled-note-creation.ts
Due: test:build:backend_ts_only, build:container

chore(deps): update dependency vue-tsc to v2.0.19
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  test:build:backend_ts_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/backend/**/*, packages/megalodon/**/*)
  test:build:client_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
