Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:check:msrv:
  stage: test
  image: docker.io/rust:1.74-slim-bookworm
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  script:
  - cargo doc --document-private-items
  ...

fix (backend-rs): fix typo
  packages/backend-rs/src/federation/activitypub/object/reject.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

docs: update changelog
  docs/changelog.md
Due: none

docs: fix typo
  docs/install.md
Due: none

v20241205
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:doc

refactor (backend-rs): replace async_trait with native async fns
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/src/database/redis.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): don't federate edits of local-only notes
  packages/backend/src/services/note/edit.ts
Due: test:build:backend_ts, build:container

chore (backend-rs): remove outdated comments
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

Fixed search by tag
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
Due: test:build:backend_ts, build:container

ci: add some query failure logs
  packages/backend/src/misc/search.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/mastodon/helpers/pagination.ts
  packages/backend/src/server/api/mastodon/helpers/search.ts
Due: test:build:backend_ts, build:container

perf: Drop visibility query for perf
  packages/backend/src/db/postgre.ts
  packages/backend/src/server/api/common/generate-visibility-query.ts
Due: test:build:backend_ts, build:container

fix bugs
  packages/backend/src/db/postgre.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
Due: test:build:backend_ts, build:container

perf: List timeline perf improvement attempt 1
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
Due: test:build:backend_ts, build:container

feat: more compatibility on post quote and emoji reaction towards moshidon
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/converters/user.ts
  packages/backend/src/server/api/mastodon/endpoints/status.ts
  packages/backend/src/server/api/mastodon/entities/account.ts
  packages/backend/src/server/api/mastodon/entities/preferences.ts
  packages/backend/src/server/api/mastodon/entities/status.ts
  packages/backend/src/server/api/mastodon/helpers/auth.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/server/well-known.ts
Due: test:build:backend_ts, build:container

fix typo
  packages/backend/src/server/api/mastodon/helpers/misc.ts
Due: test:build:backend_ts, build:container

feat: Add webhook for edit
  packages/backend/src/models/entities/webhook.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/services/note/edit.ts
  packages/client/src/pages/settings/webhook.edit.vue
  packages/client/src/pages/settings/webhook.new.vue
Due: test:build:backend_ts, test:build:client, build:container

feat: add mastodon notification v2 support
  packages/backend/src/server/api/index.ts
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/endpoints/notifications.ts
  packages/backend/src/server/api/mastodon/entities/notification.ts
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

emoji reaction field compat
  packages/backend/src/server/api/mastodon/converters/note.ts
Due: test:build:backend_ts, build:container

quote support improvements
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/endpoints/status.ts
  packages/backend/src/server/api/mastodon/entities/quote.ts
  packages/backend/src/server/api/mastodon/entities/status.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

federating quote approvals
  packages/backend/src/remote/activitypub/kernel/index.ts
  packages/backend/src/remote/activitypub/kernel/quote-request.ts
  packages/backend/src/remote/activitypub/misc/contexts.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/remote/activitypub/renderer/note.ts
  packages/backend/src/remote/activitypub/type.ts
  packages/backend/src/server/activitypub.ts
Due: test:build:backend_ts, build:container

v2 notification support (api version 2)
  packages/backend/src/models/entities/sw-subscription.ts
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/endpoints/notifications.ts
  packages/backend/src/server/api/mastodon/entities/notification.ts
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
