Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:check:msrv:
  stage: test
  image: docker.io/rust:1.74-slim-bookworm
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  script:
  - cargo doc --document-private-items
  ...

chore(deps): update rust crate serde_json to 1.0.121
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency cbor-x to v1.6.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

refactor (backend): port renderFollow to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/relay.rs
  packages/backend-rs/src/misc/user/mod.rs
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/remote/activitypub/renderer/follow.ts
  packages/backend/src/remote/activitypub/resolver.ts
  packages/backend/src/server/activitypub.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/fetch-instance-metadata.ts
  packages/backend/src/services/following/create.ts
  packages/backend/src/services/following/delete.ts
  packages/backend/src/services/following/reject.ts
  packages/backend/src/services/following/requests/accept.ts
  packages/backend/src/services/following/requests/cancel.ts
  packages/backend/src/services/following/requests/create.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port renderAccept to backend-rs
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/accept.rs
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend/src/remote/activitypub/renderer/accept.ts
  packages/backend/src/services/following/create.ts
  packages/backend/src/services/following/requests/accept.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): pass --frozen flag in production build
  packages/backend-rs/package.json
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @types/ws to v8.5.12
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): cleanup
  Cargo.toml
  packages/backend-rs/src/misc/get_image_size.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port genIdenticon to backend-rs
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/random_icon.rs
  packages/backend/package.json
  packages/backend/src/misc/gen-identicon.ts
  packages/backend/src/server/index.ts
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend-rs): followee/follower uri may be null
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/federation/activitypub/object/follow.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): cache generated icons
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/misc/random_icon.rs
  packages/backend/src/server/index.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): reduce identicon size
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/misc/random_icon.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): generated icons sometimes not showing
  packages/backend/src/server/index.ts
Due: test:build:backend_ts, build:container

fix: fixed arguments of userInstanceCache.fetch()
  packages/backend/src/models/repositories/user.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/fluent-ffmpeg to v2.1.25
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: update changelog
  docs/changelog.md
Due: none

refactor (backend): port renderEmoji to backend-rs
  docs/downgrade.sql
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/accept.rs
  packages/backend-rs/src/federation/activitypub/object/emoji.rs
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend/src/migration/1722346019160-set-emoji-public-url.ts
  packages/backend/src/models/entities/emoji.ts
  packages/backend/src/remote/activitypub/renderer/emoji.ts
  packages/backend/src/remote/activitypub/renderer/like.ts
  packages/backend/src/remote/activitypub/renderer/note.ts
  packages/backend/src/remote/activitypub/renderer/person.ts
  packages/backend/src/server/activitypub.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (macro-rs): add for_ts macro
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/federation/activitypub/object/accept.rs
  packages/backend-rs/src/federation/activitypub/object/emoji.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): use for_ts macro
  packages/backend-rs/src/federation/internal_actor/instance.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): add missing doc comment
  packages/backend-rs/src/misc/should_nyaify.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

locale: update translations (Korean)
  locales/ko-KR.yml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1665.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency bull to v4.16.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

feat(client): writing direction support
  locales/en-US.yml
  locales/ja-JP.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/client/src/init.ts
  packages/client/src/pages/settings/general.vue
  packages/client/src/store.ts
  packages/client/src/style.scss
Due: test:build:client, build:container

chore: update formatting
  packages/client/src/components/MkMenu.child.vue
  packages/client/src/components/MkModal.vue
  packages/client/src/components/MkTooltip.vue
  packages/client/src/components/form/select.vue
  packages/client/src/components/global/MkPageHeader.vue
  packages/client/src/pages/about.vue
  packages/client/src/pages/admin-file.vue
  packages/client/src/pages/admin/_header_.vue
  packages/client/src/pages/channels.vue
  packages/client/src/pages/explore.vue
  packages/client/src/pages/gallery/index.vue
  packages/client/src/pages/instance-info.vue
  packages/client/src/pages/messaging/index.vue
  packages/client/src/pages/notifications.vue
  packages/client/src/pages/pages.vue
  packages/client/src/pages/search.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/pages/tag.vue
  packages/client/src/pages/timeline.vue
  packages/client/src/store.ts
  packages/client/src/ui/universal.vue
Due: test:build:client, build:container

fix(client): patch widget sidebar
  packages/client/src/ui/universal.vue
Due: test:build:client, build:container

style: adjust modal padding
  packages/client/src/components/MkModal.vue
Due: test:build:client, build:container

chore(deps): update dependency swiper to v11.1.9
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update vue monorepo to v3.4.35
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

locale: update translations (Japanese)
  locales/ja-JP.yml
Due: test:build:client, build:container

chore(deps): update rust crate sysinfo to 0.31.0
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(client): split user name pasting and @ input into the correct fields
  packages/client/src/components/MkUserSelectDialog.vue
Due: test:build:client, build:container

chore (backend-rs): address sysinfo breaking changes
  Cargo.lock
  packages/backend-rs/Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix: allow arbitrary BCP 47-compliant language via API
  packages/backend/src/services/note/create.ts
  packages/client/src/components/MkPostForm.vue
  packages/firefish-js/src/index.ts
  packages/firefish-js/src/misc/langmap.ts
Due: test:build:backend_ts, test:build:client, build:container

fix(client): Fix logical property bugs (batch 1)
  packages/client/src/components/MkContainer.vue
  packages/client/src/components/MkEmojiPicker.vue
  packages/client/src/components/MkFolder.vue
  packages/client/src/components/MkMediaList.vue
  packages/client/src/components/MkModPlayer.vue
  packages/client/src/components/MkPullToRefresh.vue
  packages/client/src/components/MkReactionsViewer.vue
  packages/client/src/components/MkSimpleTextWindow.vue
  packages/client/src/components/MkTab.vue
  packages/client/src/components/MkTimeline.vue
  packages/client/src/components/MkUrlPreview.vue
  packages/client/src/components/global/MkAvatar.vue
  packages/client/src/components/global/MkPageHeader.vue
  packages/client/src/init.ts
  packages/client/src/pages/messaging/messaging-room.vue
  packages/client/src/pages/timeline.vue
  packages/client/src/style.scss
  packages/client/src/ui/_common_/navbar.vue
  packages/client/src/ui/deck.vue
  packages/client/src/ui/deck/column.vue
  packages/client/src/ui/universal.vue
Due: test:build:client, build:container

chore(client): address sass deprecation warning
  packages/client/src/components/MkMediaList.vue
Due: test:build:client, build:container

locale: update translations (English)
  locales/en-US.yml
Due: test:build:client, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
