Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:check:msrv:
  stage: test
  image: docker.io/rust:1.74-slim-bookworm
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  script:
  - cargo doc --document-private-items
  ...

refactor (backend): port renderAdd/renderRemove to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/add.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/remove.rs
  packages/backend/src/remote/activitypub/renderer/add.ts
  packages/backend/src/remote/activitypub/renderer/remove.ts
  packages/backend/src/services/i/pin.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port renderLike to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/emoji.rs
  packages/backend-rs/src/federation/activitypub/object/like.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend/src/remote/activitypub/kernel/like.ts
  packages/backend/src/remote/activitypub/misc/contexts.ts
  packages/backend/src/remote/activitypub/renderer/like.ts
  packages/backend/src/remote/activitypub/resolver.ts
  packages/backend/src/remote/activitypub/type.ts
  packages/backend/src/server/activitypub.ts
  packages/backend/src/services/note/reaction/create.ts
  packages/backend/src/services/note/reaction/delete.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): select_column -> column
  packages/backend-rs/src/federation/activitypub/object/like.rs
  packages/backend-rs/src/federation/internal_actor/relay.rs
  packages/backend-rs/src/misc/should_nyaify.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend): remove unused file
  packages/backend/src/remote/activitypub/renderer/like.ts
Due: test:build:backend_ts, build:container

chore (backend-rs): rename stuff
  packages/backend-rs/src/federation/activitypub/object/accept.rs
  packages/backend-rs/src/federation/activitypub/object/add.rs
  packages/backend-rs/src/federation/activitypub/object/emoji.rs
  packages/backend-rs/src/federation/activitypub/object/flag.rs
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/federation/activitypub/object/hashtag.rs
  packages/backend-rs/src/federation/activitypub/object/like.rs
  packages/backend-rs/src/federation/activitypub/object/mention.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/read.rs
  packages/backend-rs/src/federation/activitypub/object/remove.rs
  packages/backend-rs/src/federation/activitypub/object/tombstone.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port renderReject to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/reject.rs
  packages/backend/src/remote/activitypub/renderer/reject.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/following/create.ts
  packages/backend/src/services/following/delete.ts
  packages/backend/src/services/following/reject.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update rust crate serde to 1.0.206
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.73
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate serde_json to 1.0.123
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.74
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate serde_json to 1.0.124
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

set -webkit-touch-callout
  packages/client/src/style.scss
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1673.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate serde to 1.0.207
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update bull-board to v5.21.4
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency axios to v1.7.4
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1674.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency execa to v9.3.1
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency file-type to v19.4.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1675.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update pnpm to v9.7.1
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency @discordapp/twemoji to v15.1.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (English)
  locales/en-US.yml
Due: test:build:client, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

chore(deps): update rust crate serde_json to 1.0.125
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update vue monorepo to v3.4.38
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency vite to v5.4.1
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate serde to 1.0.208
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1676.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency @koa/router to v13
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency sharp to v0.33.5
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/node to v20.15.0
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency aws-sdk to v2.1677.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency type-fest to v4.25.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (Esperanto)
  locales/eo.yml
Due: test:build:client, build:container

chore (backend-rs, macro-rs): separate error doc impl into another crate
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/src/federation/activitypub/object/like.rs
  packages/backend-rs/src/federation/internal_actor/instance.rs
  packages/backend-rs/src/federation/internal_actor/relay.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/random_icon.rs
  packages/backend-rs/src/misc/should_nyaify.rs
  packages/backend-rs/src/misc/translate.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/macro-rs/macros-impl/src/error.rs
  packages/macro-rs/macros-impl/src/lib.rs
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

style: show character counter only when remaining chars < 500
  packages/client/src/components/MkPostForm.vue
Due: test:build:client, build:container

locale: NSFW -> Sensitive
  locales/en-US.yml
Due: test:build:client, build:container

chore(deps): update rust crate tokio to 1.39.3
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.75
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
