Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

fix(deps): update dependency aws-sdk to v2.1664.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): fix clippy warning
  packages/backend-rs/src/service/stream.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency city-timezones to v1.3.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

feat (backend): enhance add emoji API
  docs/api-change.md
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/drive/files/upload-from-url.ts
  packages/backend/src/server/api/endpoints/emoji.ts
  packages/backend/src/services/drive/upload-from-url.ts
Due: test:build:backend_ts, build:container

refactor (backend): only cache the id of @relay.actor
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/internal_actor/cache.rs
  packages/backend-rs/src/federation/internal_actor/instance.rs
  packages/backend-rs/src/federation/internal_actor/mod.rs
  packages/backend-rs/src/federation/internal_actor/relay.rs
  packages/backend/src/queue/index.ts
  packages/backend/src/remote/activitypub/deliver-manager.ts
  packages/backend/src/remote/activitypub/renderer/follow-relay.ts
  packages/backend/src/remote/activitypub/renderer/undo.ts
  packages/backend/src/remote/activitypub/resolver.ts
  packages/backend/src/server/activitypub.ts
  packages/backend/src/server/api/common/read-messaging-message.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
  packages/backend/src/server/api/endpoints/notes/polls/vote.ts
  packages/backend/src/server/api/mastodon/helpers/poll.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/blocking/delete.ts
  packages/backend/src/services/following/create.ts
  packages/backend/src/services/following/delete.ts
  packages/backend/src/services/following/reject.ts
  packages/backend/src/services/following/requests/accept.ts
  packages/backend/src/services/following/requests/cancel.ts
  packages/backend/src/services/following/requests/create.ts
  packages/backend/src/services/messages/create.ts
  packages/backend/src/services/messages/delete.ts
  packages/backend/src/services/note/delete.ts
  packages/backend/src/services/note/reaction/delete.ts
  packages/backend/src/services/relay.ts
  packages/backend/src/services/suspend-user.ts
  packages/backend/src/services/unsuspend-user.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): remove unused things
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/internal_actor/instance.rs
  packages/backend-rs/src/federation/internal_actor/mod.rs
  packages/backend-rs/src/federation/internal_actor/relay.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): apply clippy suggestions
  packages/backend-rs/src/federation/internal_actor/instance.rs
  packages/backend-rs/src/federation/internal_actor/relay.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update rust crate redis to 0.26.0
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update dependency swiper to v11.1.8
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore (backend): fix default maxFileSize value
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/config/server.rs
  packages/backend/src/misc/download-url.ts
  packages/backend/src/server/api/index.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend): remove gen-key-pair.ts
  packages/backend/src/migration/1720618854585-create-system-actors.ts
  packages/backend/src/misc/gen-key-pair.ts
Due: test:build:backend_ts, build:container

refactor (backend): port renderFollowRelay to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/mod.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/relay.rs
  packages/backend-rs/src/federation/mod.rs
  packages/backend/src/remote/activitypub/renderer/follow-relay.ts
  packages/backend/src/services/relay.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend): remove misc/post.ts
  packages/backend/src/misc/post.ts
  packages/backend/src/queue/processors/db/import-firefish-post.ts
Due: test:build:backend_ts, build:container

refactor (backend): port publishNoteStream to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/note.rs
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/server/api/endpoints/notes/make-private.ts
  packages/backend/src/server/api/endpoints/notes/polls/vote.ts
  packages/backend/src/server/api/mastodon/helpers/poll.ts
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/note/delete.ts
  packages/backend/src/services/note/edit.ts
  packages/backend/src/services/note/polls/vote.ts
  packages/backend/src/services/note/reaction/create.ts
  packages/backend/src/services/note/reaction/delete.ts
  packages/backend/src/services/stream.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): remove unused export in migration
  packages/backend/src/migration/1720618854585-create-system-actors.ts
Due: test:build:backend_ts, build:container

fix (client): gray out disabled boost button (#10960)
  packages/client/src/components/MkRenoteButton.vue
  packages/client/src/components/note/MkNoteFooter.vue
Due: test:build:client, build:container

refactor (backend): port publishInternalEvent to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/internal.rs
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/server/api/endpoints/admin/drive-capacity-override.ts
  packages/backend/src/server/api/endpoints/admin/moderators/add.ts
  packages/backend/src/server/api/endpoints/admin/moderators/remove.ts
  packages/backend/src/server/api/endpoints/admin/set-emoji-moderator.ts
  packages/backend/src/server/api/endpoints/admin/silence-user.ts
  packages/backend/src/server/api/endpoints/admin/unsilence-user.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/delete.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/src/server/api/endpoints/i/regenerate-token.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/delete.ts
  packages/backend/src/server/api/endpoints/i/webhooks/update.ts
  packages/backend/src/services/stream.ts
  packages/backend/src/services/suspend-user.ts
  packages/backend/src/services/unsuspend-user.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port publishUserEvent to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/user.rs
  packages/backend/src/queue/processors/system/check-expired-mutings.ts
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/api/endpoints/admin/suspend-user.ts
  packages/backend/src/server/api/endpoints/channels/follow.ts
  packages/backend/src/server/api/endpoints/channels/unfollow.ts
  packages/backend/src/server/api/endpoints/i/regenerate-token.ts
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/mute/create.ts
  packages/backend/src/server/api/endpoints/mute/delete.ts
  packages/backend/src/server/api/endpoints/renote-mute/create.ts
  packages/backend/src/server/api/endpoints/renote-mute/delete.ts
  packages/backend/src/server/api/endpoints/reply-mute/create.ts
  packages/backend/src/server/api/endpoints/reply-mute/delete.ts
  packages/backend/src/server/api/mastodon/helpers/list.ts
  packages/backend/src/server/api/mastodon/helpers/user.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/src/services/blocking/create.ts
  packages/backend/src/services/delete-account.ts
  packages/backend/src/services/following/create.ts
  packages/backend/src/services/following/delete.ts
  packages/backend/src/services/following/reject.ts
  packages/backend/src/services/i/update.ts
  packages/backend/src/services/stream.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend): remove services/stream.ts
  packages/backend/src/services/stream.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency @vitejs/plugin-vue to v5.1.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency rollup to v4.19.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate tokio to 1.39.2
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

docs: add more notes
  docs/changelog.md
  docs/install.md
Due: none

docs (minor): unpin @rollup/wasm-node version in FreeBSD instruction
  docs/install.md
Due: none

docs: update changelog
  docs/changelog.md
Due: none

chore (deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore: replace archived vscode plugin
  .vscode/extensions.json
Due: none

v20240728
  docs/api-change.md
  docs/changelog.md
  package.json
Due: test:build, build:container, cargo:doc

locale: update translations (Thai)
  locales/th-TH.yml
Due: test:build:client, build:container

fix (locale): add description of Mastodon API permissions
  locales/en-US.yml
Due: test:build:client, build:container

chore (backend): make sure to use the same timestamp for id and createdAt
  packages/backend/src/server/api/mastodon/helpers/auth.ts
Due: test:build:backend_ts, build:container

fix (backend): set name and description for Mastodon API tokens
  packages/backend/src/server/api/mastodon/helpers/auth.ts
Due: test:build:backend_ts, build:container

fix (backend): set name and description for existing Mastodon API tokens
  docs/downgrade.sql
  packages/backend/src/migration/1722134626110-set-access-token-name.ts
Due: build:container

chore(deps): update dependency @types/node to v20.14.13
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency ip-cidr to v4.0.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix (backend): limit node-fetch responses to a reasonable length in all places
  packages/backend/src/misc/fetch.ts
  packages/backend/src/remote/activitypub/misc/ld-signature.ts
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/services/fetch-instance-metadata.ts
Due: test:build:backend_ts, build:container

fix (backend-rs): limit isahc responses to a reasonable length in all places
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/translate.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

v20240729
  docs/changelog.md
  package.json
Due: test:build, build:container, cargo:doc
