Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (Indonesian)
  locales/id-ID.yml
Due: test:build:client, build:container

chore(deps): update dependency vue-tsc to v2.0.28
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency file-type to v19.3.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency @redocly/openapi-core to v1.18.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency type-fest to v4.23.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1660.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore: format
  packages/backend-rs/src/misc/get_image_size.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency typescript to v5.5.4
  packages/backend/package.json
  packages/client/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1661.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/node to v20.14.12
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

chore(deps): update dependency swiper to v11.1.6
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate napi-derive to 3.0.0-alpha.7
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate tokio to 1.39.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1662.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @vitejs/plugin-vue to v5.1.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency @types/probe-image-size to v7.2.5
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): convert case of source language (& filter out possibly corrupted data)
  packages/backend-rs/src/misc/translate.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Revert "refactor (backend): port extract-hashtags to backend-rs"
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/mfm/hashtag.rs
  packages/backend-rs/src/mfm/mod.rs
  packages/backend/src/misc/extract-hashtags.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/src/services/i/update.ts
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/note/edit.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency swiper to v11.1.7
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency got to v14.4.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: update changelog
  docs/changelog.md
Due: none

meta: add compose.yml to .gitignore
  .gitignore
Due: none

v20240725
  docs/api-change.md
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:doc

container: simplify container build steps
  .dockerignore
  Dockerfile
Due: build:container

chore(deps): update rust crate emojis to 0.6.3
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update vue monorepo to v3.4.34
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1663.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (backend): port publishNoteUpdatesStream to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/note_edit.rs
  packages/backend/src/const.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/src/services/drive/add-file.ts
  packages/backend/src/services/note/edit.ts
  packages/backend/src/services/stream.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): remove publishUserListStream
  packages/backend-rs/src/service/stream.rs
  packages/backend/src/server/api/endpoints/users/lists/pull.ts
  packages/backend/src/server/api/mastodon/helpers/list.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/src/services/stream.ts
  packages/backend/src/services/user-list/pull.ts
  packages/backend/src/services/user-list/push.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): check word mutes in lists
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency vite to v5.3.5
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency vue-tsc to v2.0.29
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate nom-exif to 1.3.0
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

Merge branch 'develop' into fork
  packages/backend/package.json
Due: test:build:backend_ts, build:container

reset some files
  packages/backend/src/server/api/endpoints/sw/register.ts
  packages/backend/src/server/api/endpoints/sw/show-registration.ts
  packages/backend/src/server/api/endpoints/sw/unregister.ts
  packages/backend/src/server/api/endpoints/sw/update-registration.ts
  packages/backend/src/server/api/endpoints/users/lists/list.ts
  packages/backend/src/server/api/limiter.ts
  packages/backend/src/server/api/mastodon/endpoints/timeline.ts
  packages/backend/src/server/api/streaming.ts
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (macro-rs): use syn::Result for internal outputs
  Cargo.lock
  packages/macro-rs/macros-impl/src/error.rs
  packages/macro-rs/macros-impl/src/napi.rs
  packages/macro-rs/macros-impl/src/util/tester.rs
  packages/macro-rs/macros/Cargo.toml
  packages/macro-rs/macros/src/helper.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (macro-rs): add comments and doctests
  Cargo.lock
  packages/macro-rs/macros-impl/src/error.rs
  packages/macro-rs/macros/Cargo.toml
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore: format
  packages/macro-rs/macros-impl/src/error.rs
  packages/macro-rs/macros/src/lib.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc
