Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_test, client_build_test, container_image_build, cargo_unit_test, cargo_clippy

build_test:
  stage: test
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate

client_build_test:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

container_image_build:
  stage: build
  image: docker.io/debian:bookworm-slim
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends buildah ca-certificates fuse-overlayfs
  ...

cargo_unit_test:
  stage: test
  script:
  - cargo check --features napi
  - pnpm install --frozen-lockfile
  - mkdir packages/backend-rs/built
  - cp packages/backend-rs/index.js packages/backend-rs/built/index.js
  - cp packages/backend-rs/index.d.ts packages/backend-rs/built/index.d.ts
  ...

cargo_clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

fix(deps): update dependency ajv to v8.13.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency aws-sdk to v2.1618.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency tesseract.js to ^5.1.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency execa to v9
  package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

ci: reduce cargo builds
  .gitlab-ci.yml
Due: none

ci: fix typo
  .gitlab-ci.yml
Due: none

ci: revise conditions
  .gitlab-ci.yml
Due: none

ci: add missing file copy
  .gitlab-ci.yml
Due: none

ci: tweak config
  .gitlab-ci.yml
Due: none

ci: add variables
  .gitlab-ci.yml
Due: none

container: update Dockerfile to use cargo cache on deps updates
  Dockerfile
Due: container_image_build

container: cargo fetch using root Cargo.toml
  Dockerfile
Due: container_image_build

ci: ignore unrelated files in sast
  .gitlab-ci.yml
Due: none

ci: GitLab CI's cache is slow
  .gitlab-ci.yml
Due: none

ci: disable scans for now
  .gitlab-ci.yml
Due: none

chore (deps): update bull-board
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore (deps): update cargo dependencies
  Cargo.lock
  Cargo.toml
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

ci: fix config
  .gitlab-ci.yml
Due: none

chore(deps): update dependency @napi-rs/cli to v2.18.3
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

chore(deps): update dependency @types/pg to ^8.11.6
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency @types/prismjs to ^1.26.4
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update dependency vue-tsc to v2.0.17
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

fix(deps): update dependency @redocly/openapi-core to v1.12.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency bull to v4.12.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency @eslint-sets/eslint-config-vue3 to ^5.13.0
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update dependency sass to v1.77.1
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update dependency type-fest to v4.18.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency msgpackr to ^1.10.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency semver to v7.6.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency eslint-plugin-file-progress to ^1.4.0
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update node.js to v20
  package.json
  packages/backend-rs/package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build, cargo_unit_test, cargo_clippy

meta: remove node version info from backend-rs/package.json
  packages/backend-rs/package.json
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

ci: update config
  .gitlab-ci.yml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: build_test, container_image_build

ci: update renovate config
  renovate.json
Due: none

chore (deps): pin versions
  package.json
  packages/backend/package.json
  packages/client/package.json
  packages/firefish-js/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

locale: update translations (French)
  locales/fr-FR.yml
Due: client_build_test, container_image_build

refactor: port system information checker to backend-rs
  Cargo.lock
  Cargo.toml
  docs/api-change.md
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/init/log.rs
  packages/backend-rs/src/init/mod.rs
  packages/backend-rs/src/init/server_stats.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/server_stats.rs
  packages/backend-rs/src/service/mod.rs
  packages/backend/package.json
  packages/backend/src/@types/os-utils.d.ts
  packages/backend/src/boot/master.ts
  packages/backend/src/daemons/server-stats.ts
  packages/backend/src/misc/show-machine-info.ts
  packages/backend/src/server/api/endpoints/admin/server-info.ts
  packages/backend/src/server/api/endpoints/server-info.ts
  packages/client/src/pages/admin/overview.metrics.vue
  packages/client/src/widgets/server-metric/cpu-mem.vue
  packages/client/src/widgets/server-metric/cpu.vue
  packages/client/src/widgets/server-metric/disk.vue
  packages/client/src/widgets/server-metric/index.vue
  packages/client/src/widgets/server-metric/mem.vue
  packages/client/src/widgets/server-metric/net.vue
  packages/client/src/widgets/server-metric/pie.vue
  pnpm-lock.yaml
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

chore (backend-rs): apply clippy fix
  packages/backend-rs/src/misc/server_stats.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

chore (backend-rs): cleanup
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/init/hardware_stats.rs
  packages/backend-rs/src/init/mod.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/misc/hardware_stats.rs
  packages/backend-rs/src/misc/mod.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

Path conditions:
  build_test: any of: packages/backend/*, packages/backend-rs/*, packages/macro-rs/*, packages/megalodon/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  client_build_test: any of: packages/client/*, packages/firefish-js/*, packages/sw/*, locales/**/*
  container_image_build: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo_unit_test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo_clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
