Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts_only, test:build:client_only, build:container, cargo:test, cargo:clippy

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate

test:build:backend_ts_only:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 nodejs postgresql-client
  - corepack enable
  ...

test:build:client_only:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:bookworm-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - pnpm install --frozen-lockfile
  - mkdir packages/backend-rs/built
  - cp packages/backend-rs/index.js packages/backend-rs/built/index.js
  ...

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

refactor: split MkNote into smaller components
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteDetailed.vue
  packages/client/src/components/MkNoteSimple.vue
  packages/client/src/components/MkNoteSub.vue
  packages/client/src/components/global/MkError.vue
  packages/client/src/components/note/MkNoteContent.vue
  packages/client/src/components/note/MkNoteFooter.vue
  packages/client/src/components/note/MkNoteFooterInfo.vue
  packages/client/src/components/note/MkNoteHeader.vue
  packages/client/src/components/note/MkNoteHeaderInfo.vue
  packages/client/src/components/note/MkNoteMedia.vue
  packages/client/src/components/note/MkNoteMediaList.vue
  packages/client/src/components/note/MkNoteTranslation.vue
  packages/client/src/components/note/MkRenoteBar.vue
  packages/client/src/pages/user/media-list.vue
  packages/client/src/scripts/get-note-menu.ts
  packages/client/src/scripts/show-note-context-menu.ts
Due: test:build:client_only, build:container

ci: update renovate config
  renovate.json
Due: none

fix(deps): update dependency bull to v4.12.8
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update bull-board to v5.18.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

mastodon for android fixed the issue
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency aws-sdk to v2.1626.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

Add schedule support (create, read)
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/src/prelude/await-all.ts
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/converters/poll.ts
  packages/backend/src/server/api/mastodon/endpoints/status.ts
  packages/backend/src/server/api/mastodon/entities/status_params.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build, build:container, cargo:test, cargo:clippy

GMT to UTC
  packages/client/src/components/global/MkTime.vue
Due: test:build:client_only, build:container

More date fix
  packages/client/src/pages/note.vue
Due: test:build:client_only, build:container

meta: bump required Node.js version to v18.19.0
  dev/container/docker-compose.yml
  dev/docs/local-installation.md
  docs/install.md
  docs/notice-for-admins.md
  packages/backend/src/boot/master.ts
Due: test:build:backend_ts_only, build:container

chore (backend): remove '_enum' suffix from enum types
  docs/downgrade.sql
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/model/entity/antenna.rs
  packages/backend-rs/src/model/entity/drive_file.rs
  packages/backend-rs/src/model/entity/muted_note.rs
  packages/backend-rs/src/model/entity/note.rs
  packages/backend-rs/src/model/entity/notification.rs
  packages/backend-rs/src/model/entity/page.rs
  packages/backend-rs/src/model/entity/poll.rs
  packages/backend-rs/src/model/entity/relay.rs
  packages/backend-rs/src/model/entity/sea_orm_active_enums.rs
  packages/backend-rs/src/model/entity/user.rs
  packages/backend-rs/src/model/entity/user_profile.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend/src/migration/1716462794927-remove-enum-typename-suffix.ts
Due: test:build, build:container, cargo:test, cargo:clippy

chore (backend-rs): antenna::add_new_note -> antenna::process_new_note
  packages/backend-rs/src/service/antenna/mod.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore (backend-rs): remove 'Err' suffix from error variants
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/misc/convert_host.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/password.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/service/antenna/add_new_note.rs
  packages/backend-rs/src/service/nodeinfo/fetch.rs
  packages/backend-rs/src/service/nodeinfo/generate.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/util/http_client.rs
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:test, cargo:clippy

ci: use Debian trixie for buildah host
  .gitlab-ci.yml
Due: none

fix(deps): update bull-board to v5.18.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix (backend): use correct Redis prefix (close #10940)
  packages/backend/src/queue/initialize.ts
Due: test:build:backend_ts_only, build:container

fix (client): notification reply-to style
  packages/client/src/components/note/MkNoteHeaderInfo.vue
Due: test:build:client_only, build:container

fix (client): noteTranslation is nullable
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteSub.vue
  packages/client/src/components/note/MkNoteFooter.vue
  packages/client/src/scripts/get-note-menu.ts
Due: test:build:client_only, build:container

fix (client): notification reply-to style when the summary is long
  packages/client/src/components/note/MkNoteHeaderInfo.vue
Due: test:build:client_only, build:container

chore (backend-rs): address `cargo doc` warnings
  packages/backend-rs/src/config/constant.rs
  packages/backend-rs/src/service/nodeinfo/schema.rs
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:test, cargo:clippy

assorted fix
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build:backend_ts_only, build:container

ci: add cargo doc
  .gitlab-ci.yml
Due: none

dev: add recommended VSCode extensitons for backend-rs
  .vscode/extensions.json
Due: none

dev: add Better Comments to recommended VSCode extensions
  .vscode/extensions.json
Due: none

chore (backend-rs): remove unused feature flag
  packages/backend-rs/Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

ci: fix scripts
  .gitlab-ci.yml
Due: none

ci: update config
  .gitlab-ci.yml
Due: none

ci: fix paths 🥴
  .gitlab-ci.yml
Due: none

ci: remove job dependency for cargo:doc
  .gitlab-ci.yml
Due: none

ci: fix command options
  .gitlab-ci.yml
Due: none

ci: fix paths again
  .gitlab-ci.yml
Due: none

fix(deps): update dependency @redocly/openapi-core to v1.13.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency aws-sdk to v2.1627.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

ci: deploy the docs
  .gitlab-ci.yml
Due: none

chore(deps): update rust crate syn to 2.0.66
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency bull to v4.12.9
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

ci: fix cargo docs job
  .gitlab-ci.yml
Due: none

ci: make sure backend build test doesn't fail when backend-rs build cache is not present
  .gitlab-ci.yml
Due: none

fix (backend-rs): don't check quoted post in antennas
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/get_note_summary.rs
Due: test:build, build:container, cargo:test, cargo:clippy

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  test:build:backend_ts_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/backend/**/*, packages/megalodon/**/*)
  test:build:client_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
