Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:check:msrv:
  stage: test
  image: docker.io/rust:1.74-slim-bookworm
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  script:
  - cargo doc --document-private-items
  ...

fix(deps): update dependency @sinonjs/fake-timers to v11.3.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate nom-exif to 1.4.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency jsdom to v24.1.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency jsdom to v25
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency rollup to v4.21.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update pnpm to v9.9.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency aws-sdk to v2.1683.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/fluent-ffmpeg to v2.1.26
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix (backend): compare URLs by href hostname may contain uppercase letters
  packages/backend/src/remote/activitypub/resolver.ts
Due: test:build:backend_ts, build:container

style: remove frame from resource-unknown.svg
  packages/backend/assets/resource-unknown.svg
Due: test:build:backend_ts, build:container

docs: update changelog
  docs/changelog.md
Due: none

chore(deps): update rust crate sea-orm to 1.0.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency @redocly/openapi-core to v1.21.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1684.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency @sinonjs/fake-timers to v13
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/node to v20.16.2
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

chore(deps): update dependency @types/pg to v8.11.7
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency bull to v4.16.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/pg to v8.11.8
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency swiper to v11.1.11
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency type-fest to v4.26.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1685.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate sysinfo to 0.31.4
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update dependency vue-tsc to v2.1.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency @redocly/openapi-core to v1.22.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix: fix down queries
  docs/downgrade.md
  docs/downgrade.sql
  packages/backend/src/migration/1713108561474-clientCredentials.ts
  packages/backend/src/migration/1713225866247-convert-cw-varchar-to-text.ts
Due: build:container

chore(deps): update dependency @vitejs/plugin-vue to v5.1.3
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1686.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: update downgrade.md
  docs/downgrade.md
Due: none

chore(deps): update dependency rollup to v4.21.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency adm-zip to v0.5.16
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate tokio to 1.40.0
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency @redocly/openapi-core to v1.22.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency axios to v1.7.6
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (Galician)
  locales/gl.yml
Due: test:build:client, build:container

chore(deps): update rust crate syn to 2.0.77
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore: add alsoKnownAs property to WellKnownContext
  packages/backend/src/remote/activitypub/misc/contexts.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency vue-tsc to v2.1.4
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency axios to v1.7.7
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
