Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

chore(deps): update dependency @types/node to v20.14.11
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency semver to v7.6.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency type-fest to v4.22.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update vue monorepo to v3.4.32
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate thiserror to 1.0.63
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update dependency file-type to v19.2.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.61
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update rust crate napi to 3.0.0-alpha.8
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

fix(deps): update bull-board to v5.21.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency ts-jest to v29.2.3
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency type-fest to v4.22.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update vue monorepo to v3.4.33
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency rollup to v4.19.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate openssl to 0.10.65
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update dependency mocha to v10.7.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

refactor (backend): port translator to backend-rs
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/translate.rs
  packages/backend/package.json
  packages/backend/src/misc/translate.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (deps): pin ravif and bitstream-io versions
  Cargo.lock
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore (backend): remove mocha from dependencies
  packages/backend/.mocharc.json
  packages/backend/check_connect.js
  packages/backend/package.json
  packages/backend/test/activitypub.ts
  packages/backend/test/ap-request.ts
  packages/backend/test/api-visibility.ts
  packages/backend/test/api.ts
  packages/backend/test/block.ts
  packages/backend/test/docker-compose.yml
  packages/backend/test/e2e/users.ts
  packages/backend/test/endpoints.ts
  packages/backend/test/extract-mentions.ts
  packages/backend/test/fetch-resource.ts
  packages/backend/test/ff-visibility.ts
  packages/backend/test/get-file-info.ts
  packages/backend/test/loader.js
  packages/backend/test/mfm.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/mute.ts
  packages/backend/test/note.ts
  packages/backend/test/prelude/maybe.ts
  packages/backend/test/prelude/url.ts
  packages/backend/test/resources/25000x25000.png
  packages/backend/test/resources/Lenna.jpg
  packages/backend/test/resources/Lenna.png
  packages/backend/test/resources/anime.gif
  packages/backend/test/resources/anime.png
  packages/backend/test/resources/emptyfile
  packages/backend/test/resources/image.svg
  packages/backend/test/resources/rotate.jpg
  packages/backend/test/resources/with-alpha.png
  packages/backend/test/resources/with-xml-def.svg
  packages/backend/test/streaming.ts
  packages/backend/test/thread-mute.ts
  packages/backend/test/tsconfig.json
  packages/backend/test/user-notes.ts
  packages/backend/test/utils.ts
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (backend): port extract-hashtags to backend-rs
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/mfm/hashtag.rs
  packages/backend-rs/src/mfm/mod.rs
  packages/backend/src/misc/extract-hashtags.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/server/api/endpoints/notes/translate.ts
  packages/backend/src/services/i/update.ts
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/note/edit.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): libretranslate API now supports zh-Hant translations
  packages/backend-rs/src/misc/translate.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend): tweak slow api call threshold
  packages/backend/src/server/api/call.ts
Due: test:build:backend_ts, build:container

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

client: update searchWordsDescription
  locales/en-US.yml
Due: test:build:client, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

locale: update translations (Japanese)
  locales/ja-JP.yml
Due: test:build:client, build:container

fix (client): do not refresh the page on showAttachedNotes (closes #10969)
  packages/client/src/components/MkDrive.file.vue
Due: test:build:client, build:container

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.62
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix(deps): update dependency jsdom to v24.1.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor (macro-rs): simplify error_variants_impl
  packages/macro-rs/macros-impl/src/error.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

feat (client): sort "select a widget" dropdown (closes #10973)
  packages/client/src/components/MkWidgets.vue
Due: test:build:client, build:container

chore: update auto-generated file
  packages/backend-rs/index.js
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): missing import
  packages/backend/src/server/index.ts
Due: test:build:backend_ts, build:container

feat: export followers list (closes #10974)
  docs/api-change.md
  packages/backend/src/queue/index.ts
  packages/backend/src/queue/processors/db/export-followers.ts
  packages/backend/src/queue/processors/db/index.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/export-followers.ts
  packages/client/src/pages/settings/import-export.vue
  packages/firefish-js/src/api.types.ts
Due: test:build:backend_ts, test:build:client, build:container

fix (backend): use correct cache key prefix
  packages/backend/src/db/postgre.ts
Due: test:build:backend_ts, build:container

chore(deps): update rust crate image to 0.25.2
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update rust crate openssl to 0.10.66
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore (backend-rs): address deprecation warning
  packages/backend-rs/src/misc/get_image_size.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update rust crate syn to 2.0.72
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update pnpm to v9.6.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc
