Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts_only, test:build:client_only, build:container, cargo:test, cargo:clippy, cargo:doc, pages

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  pages: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

chore (backend-rs): make internal functions/modules private
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/nodeinfo/mod.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore (backend-rs): update comment
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/config/constant.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore (backend-rs): some more comments
  packages/backend-rs/src/config/server.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

ci (docs): document private items
  .gitlab-ci.yml
Due: none

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client_only, build:container

locale: update translations (Dutch)
  locales/nl-NL.yml
Due: test:build:client_only, build:container

chore(deps): update dependency photoswipe to v5.4.4
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client_only, build:container

chore(deps): update dependency pug to v3.0.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

fix(deps): update dependency aws-sdk to v2.1628.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

chore(deps): update dependency type-fest to v4.18.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

chore(deps): update rust crate proc-macro2 to 1.0.84
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc, pages

chore(deps): update rust crate serde to 1.0.203
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc, pages

locale: update translations (French)
  locales/fr-FR.yml
Due: test:build:client_only, build:container

fix(deps): update dependency ajv to v8.14.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

fix(deps): update dependency jsdom to v24.1.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

test (backend-rs): add timestamp check
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore (backend-rs): address cargo doc warning
  packages/backend-rs/src/misc/get_note_all_texts.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore(deps): update dependency cropperjs to v2.0.0-rc
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client_only, build:container

fix(deps): update dependency redis-semaphore to v5.6.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

chore: regenerate auto-generated files
  packages/backend-rs/index.d.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore: update downgrade.sql
  docs/downgrade.sql
Due: none

chore: drop scheduled_note table
  packages/backend/src/migration/1716804636187-refactor-scheduled-posts.ts
Due: test:build:backend_ts_only, build:container

chore: update auto-generated files
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/model/entity/mod.rs
  packages/backend-rs/src/model/entity/note.rs
  packages/backend-rs/src/model/entity/prelude.rs
  packages/backend-rs/src/model/entity/scheduled_note.rs
  packages/backend-rs/src/model/entity/user.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

refactor: remove scheduled note entity from backend
  packages/backend/src/db/postgre.ts
  packages/backend/src/migration/1716804636187-refactor-scheduled-posts.ts
  packages/backend/src/models/entities/note.ts
  packages/backend/src/models/entities/scheduled-note.ts
  packages/backend/src/models/index.ts
  packages/backend/src/models/repositories/note.ts
  packages/backend/src/queue/processors/db/scheduled-note.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/services/note/create.ts
Due: test:build:backend_ts_only, build:container

chore(deps): update pnpm to v9.1.3
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc, pages

why did this happen
  packages/backend/src/services/note/create.ts
Due: test:build:backend_ts_only, build:container

fix: throw an error if scheduled date is past
  packages/backend/src/server/api/endpoints/notes/create.ts
Due: test:build:backend_ts_only, build:container

ci: use npx for one time execution
  .gitlab-ci.yml
Due: none

chore (macro-rs): address FIXME
  Cargo.lock
  packages/macro-rs/Cargo.toml
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

dev: update editorconfig
  .editorconfig
  packages/backend-rs/.editorconfig
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore (macro-rs): add comments
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore (backend-rs): add comments
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/federation/mod.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/mod.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/service/mod.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/util/http_client.rs
  packages/backend-rs/src/util/id.rs
  packages/backend-rs/src/util/mod.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore(deps): update dependency ts-jest to v29.1.4
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, test:build:client_only, build:container

ci: document dependencies
  .gitlab-ci.yml
Due: none

chore(deps): update dependency vite to v5.2.12
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client_only, build:container

fix(deps): update bull-board to v5.19.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

fix(deps): update dependency aws-sdk to v2.1629.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts_only, build:container

locale: update translations (Portuguese (Brazil))
  locales/pt-BR.yml
Due: test:build:client_only, build:container

chore (backend-rs): don't use unsafe unwrap() in examples
  packages/backend-rs/src/database/cache.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc, pages

chore(deps): update rust crate redis to 0.25.4
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc, pages
