Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts_only, test:build:client_only, build:container, cargo:test, cargo:clippy

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  test:build:backend_ts_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/backend/**/*, packages/megalodon/**/*)
  test:build:client_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock

feat (backend-rs): add Mastodon push notification type
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore (backend-rs): don't iterate the same process
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore (deps): correct git url
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix (backend): pug config loading
  packages/backend/src/server/web/index.ts
  packages/backend/src/server/web/views/base.pug
Due: test:build:backend_ts_only, build:container

chore (deps): use unreleased napi crate for now
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

docs (minor): update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

docs: update changelog
  docs/changelog.md
Due: none

chore (backend): ScheduledNoteCreation -> ScheduledNote
  docs/downgrade.sql
  packages/backend/src/db/postgre.ts
  packages/backend/src/migration/1714728200194-create-scheduled-note.ts
  packages/backend/src/models/entities/scheduled-note.ts
  packages/backend/src/models/index.ts
Due: test:build:backend_ts_only, build:container

chore (backend): use timestamptz
  packages/backend/src/migration/1714728200194-create-scheduled-note.ts
  packages/backend/src/models/entities/scheduled-note.ts
Due: test:build:backend_ts_only, build:container

chore: format
  packages/backend/src/migration/1714728200194-create-scheduled-note.ts
  packages/backend/src/models/entities/scheduled-note.ts
Due: test:build:backend_ts_only, build:container

chore: update auto-generated files
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/model/entity/mod.rs
  packages/backend-rs/src/model/entity/note.rs
  packages/backend-rs/src/model/entity/prelude.rs
  packages/backend-rs/src/model/entity/scheduled_note.rs
  packages/backend-rs/src/model/entity/user.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore: update .gitignore
  .gitignore
Due: none

chore (firefish-js): update note entity
  packages/firefish-js/src/schema/note.ts
Due: test:build:client_only, build:container

fix (backend): fix imports
  packages/backend/src/models/repositories/note.ts
  packages/backend/src/queue/processors/db/scheduled-create-note.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Due: test:build:backend_ts_only, build:container

fix(deps): update dependency fluent-ffmpeg to v2.1.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy

Rust db migration
  packages/backend-rs/src/model/entity/access_token.rs
  packages/backend-rs/src/model/entity/sw_subscription.rs
  packages/backend-rs/src/model/entity/user_profile.rs
Due: test:build, build:container, cargo:test, cargo:clippy

port push noti to rust
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/services/create-notification.ts
  packages/backend/src/services/messages/create.ts
  packages/backend/src/services/push-notification.ts
  packages/sw/src/types.ts
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): update rust crate syn to 2.0.65
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): update rust crate proc-macro2 to 1.0.83
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency axios to v1.7.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): lock file maintenance
  Cargo.lock
Due: test:build, build:container, cargo:test, cargo:clippy

ci: skip clippy checks on deps updates
  .gitlab-ci.yml
Due: none

ci: address buildah warning
  .gitlab-ci.yml
Due: none

dev: use cargo nextest
  dev/docs/db-container.md
  dev/docs/local-installation.md
  package.json
Due: test:build, build:container

chore (backend-rs): cleanup
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/init/greet.rs
  packages/backend-rs/src/misc/convert_host.rs
  packages/backend-rs/src/misc/emoji.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/is_quote.rs
  packages/backend-rs/src/misc/password.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/misc/remove_old_attestation_challenges.rs
  packages/backend-rs/src/service/antenna.rs
  packages/backend-rs/src/service/nodeinfo/fetch.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
Due: test:build, build:container, cargo:test, cargo:clippy

ci: add revert migration test
  .gitlab-ci.yml
  docs/downgrade.md
Due: none

chore (client): change variable names
  packages/client/src/components/global/MkTime.vue
Due: test:build:client_only, build:container

chore (backend): rename the job
  packages/backend/src/queue/index.ts
  packages/backend/src/queue/processors/db/index.ts
  packages/backend/src/queue/processors/db/scheduled-note.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Due: test:build:backend_ts_only, build:container

chore: format
  packages/client/src/components/global/MkTime.vue
Due: test:build:client_only, build:container

docs: update api-change.md
  docs/api-change.md
Due: none

fix (backend): typo
  packages/backend/src/models/repositories/note.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Due: test:build:backend_ts_only, build:container

locale: update en-US.yml
  locales/en-US.yml
Due: test:build:client_only, build:container

fix (backend): overlooked change
  packages/backend/src/queue/index.ts
Due: test:build:backend_ts_only, build:container

ci: add back some buildah options
  .gitlab-ci.yml
Due: none

locale: update translations (Bulgarian)
  locales/bg-BG.yml
Due: test:build:client_only, build:container

fix(deps): update dependency axios to v1.7.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container
