Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts_only, test:build:client_only, build:container, cargo:test, cargo:clippy

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate

test:build:backend_ts_only:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 nodejs postgresql-client
  - corepack enable
  ...

test:build:client_only:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:bookworm-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - pnpm install --frozen-lockfile
  - mkdir packages/backend-rs/built
  - cp packages/backend-rs/index.js packages/backend-rs/built/index.js
  ...

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client_only, build:container

locale: update translations (Japanese)
  locales/ja-JP.yml
Due: test:build:client_only, build:container

rush clippy lint
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy

fix (backend): remove unused parameter from manifest
  packages/backend/src/server/web/manifest.ts
Due: test:build:backend_ts_only, build:container

Revert "ci: use buildah image directly"
  .gitlab-ci.yml
Due: none

chore(deps): update pnpm to v9.1.2
  package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency aws-sdk to v2.1624.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix (backend-rs): active users count in nodeinfo (close #10935)
  packages/backend-rs/src/service/nodeinfo/generate.rs
Due: test:build, build:container, cargo:test, cargo:clippy

fix (backend-rs): don't check in-reply-to post in antennas
  packages/backend-rs/src/misc/check_hit_antenna.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore (macro-rs): ts_only_warn -> ts_export
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/misc/emoji.rs
  packages/backend-rs/src/service/nodeinfo/generate.rs
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore (backend-rs): cleanup
  packages/backend-rs/src/init/system_info.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/misc/system_info.rs
  packages/backend-rs/src/service/antenna.rs
  packages/backend-rs/src/service/nodeinfo/generate.rs
Due: test:build, build:container, cargo:test, cargo:clippy

perf (backend-rs): reduce note copy operations
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/service/antenna/add_new_note.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/mod.rs
Due: test:build, build:container, cargo:test, cargo:clippy

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

docs: I doubt node version matters
  docs/notice-for-admins.md
Due: none

chore(deps): update dependency ts-jest to v29.1.3
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency bull to v4.12.7
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix (backend-rs): wrong unwrap_or usage
  packages/backend-rs/src/service/antenna/add_new_note.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
Due: test:build, build:container, cargo:test, cargo:clippy

test (backend-rs): add parse_nodeinfo_2_1 testcase
  packages/backend-rs/src/service/nodeinfo/schema.rs
Due: test:build, build:container, cargo:test, cargo:clippy

fix: Prevent menu from overflowing off screen
  packages/client/src/components/MkMenu.child.vue
  packages/client/src/components/MkModal.vue
  packages/client/src/components/MkPopupMenu.vue
  packages/client/src/os.ts
Due: test:build:client_only, build:container

style: move post schedule button inside "more!" menu
  packages/client/src/components/MkPostForm.vue
Due: test:build:client_only, build:container

chore (client): address TODO comments
  packages/client/src/components/MkPostFormDialog.vue
  packages/client/src/widgets/calendar.vue
  packages/client/src/widgets/clock.vue
  packages/client/src/widgets/digital-clock.vue
  packages/client/src/widgets/federation.vue
  packages/client/src/widgets/instance-cloud.vue
  packages/client/src/widgets/job-queue.vue
  packages/client/src/widgets/notifications.vue
  packages/client/src/widgets/online-users.vue
  packages/client/src/widgets/photos.vue
  packages/client/src/widgets/post-form.vue
  packages/client/src/widgets/rss-ticker.vue
  packages/client/src/widgets/rss.vue
  packages/client/src/widgets/slideshow.vue
  packages/client/src/widgets/timeline.vue
  packages/client/src/widgets/trends.vue
  packages/client/src/widgets/unix-clock.vue
  packages/client/src/widgets/user-list.vue
Due: test:build:client_only, build:container

fix (client): invalid non-null assertion
  packages/client/src/components/global/MkStickyContainer.vue
Due: test:build:client_only, build:container

fix(deps): update dependency axios to v1.7.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency aws-sdk to v2.1625.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy

style: move post schedule button inside "more!" menu
  locales/en-US.yml
  locales/zh-CN.yml
  packages/client/src/components/MkPostForm.vue
  packages/client/src/components/MkVisibility.vue
Due: test:build:client_only, build:container

style: adjust MkPostForm
  packages/client/src/components/MkPostForm.vue
Due: test:build:client_only, build:container

fix: Don't show notSpecifiedMentionWarning if visibility is not 'specified'
  packages/client/src/components/MkPostForm.vue
Due: test:build:client_only, build:container

update translations
  locales/en-US.yml
Due: test:build:client_only, build:container

fix: Scheduled post cannot send post with attachments
  packages/backend/src/queue/processors/db/scheduled-note.ts
  packages/client/src/components/MkVisibility.vue
Due: test:build:backend_ts_only, test:build:client_only, build:container

fix: remove MkVisibility scheduled time i18n
  packages/client/src/components/MkVisibility.vue
Due: test:build:client_only, build:container

fix (client): soft muted posts not opening on click
  packages/client/src/components/MkNote.vue
Due: test:build:client_only, build:container

Use elements as API Document
  packages/backend/assets/redoc.html
Due: test:build:backend_ts_only, build:container

add crossorigin="anonymous"
  packages/backend/assets/redoc.html
Due: test:build:backend_ts_only, build:container

container: copy firefish-js artifacts
  Dockerfile
Due: build:container

fix: Duplicated renote bar
  packages/client/src/components/MkNote.vue
Due: test:build:client_only, build:container

v20240523
  docs/api-change.md
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  test:build:backend_ts_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/backend/**/*, packages/megalodon/**/*)
  test:build:client_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
