Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_test, container_image_build, cargo_unit_test, cargo_clippy

build_test:
  stage: test
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate

container_image_build:
  stage: build
  image: docker.io/debian:bookworm-slim
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends buildah ca-certificates fuse-overlayfs
  ...

cargo_unit_test:
  stage: test
  script:
  - cargo check --features napi
  - pnpm install --frozen-lockfile
  - mkdir packages/backend-rs/built
  - cp packages/backend-rs/index.js packages/backend-rs/built/index.js
  - cp packages/backend-rs/index.d.ts packages/backend-rs/built/index.d.ts
  ...

cargo_clippy:
  stage: test
  script:
  - cargo clippy -- -D warnings

docs: update api-change.md
  docs/api-change.md
Due: none

meta: update COPYING & include LICENSE in pre-built images
  .dockerignore
  COPYING
Due: container_image_build

chore (backend): tweak migration queries
  docs/downgrade.sql
  packages/backend/src/migration/1714728200194-create-scheduled-note-creation.ts
  packages/backend/src/remote/activitypub/misc/contexts.ts
Due: build_test, container_image_build

chore (backend): wrap relations in TypeORM Relation<...>
  packages/backend/src/models/entities/scheduled-note-creation.ts
Due: build_test, container_image_build

refactor (backend): remove redundancy
  packages/backend/src/server/api/endpoints/notes/create.ts
Due: build_test, container_image_build

meta: update gitignore
  .gitignore
Due: none

fix: use reactive MkNoteHeader
  packages/client/src/components/MkNoteHeader.vue
Due: build_test, container_image_build

update locales
  locales/en-US.yml
  locales/zh-CN.yml
Due: build_test, container_image_build

fix: use note capture in MkNoteSimple
  packages/client/src/components/MkNoteSimple.vue
  packages/client/src/scripts/use-note-capture.ts
Due: build_test, container_image_build

fix: use reactive previewableCount
  packages/client/src/components/MkMediaList.vue
Due: build_test, container_image_build

fix: use reacive MkSubNoteContent
  packages/client/src/components/MkSubNoteContent.vue
Due: build_test, container_image_build

fix: migrate back from happy-dom to JSDOM (closes #10924 #10914 #10842)
  packages/backend/package.json
  packages/backend/src/mfm/to-html.ts
  packages/backend/src/services/fetch-instance-metadata.ts
  packages/backend/src/services/fetch-rel-me.ts
  pnpm-lock.yaml
Due: build_test, container_image_build

refactor (backend): port publishNotesStream to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/new_note.rs
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/stream.ts
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

ci: fix cargo clippy task
  .gitlab-ci.yml
Due: none

fix: use reactive MkTime
  packages/client/src/components/global/MkTime.vue
Due: build_test, container_image_build

ci: don't build the backend on client-only changes
  .gitlab-ci.yml
Due: none

ci: add firefish-js
  .gitlab-ci.yml
Due: none

ci: use buildah caches
  .gitlab-ci.yml
Due: none

ci: update workflow rules
  .gitlab-ci.yml
Due: none

ci: fix config error
  .gitlab-ci.yml
Due: none

Revert "refactor (backend): port publishNotesStream to backend-rs"
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/new_note.rs
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/stream.ts
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

ci: add pull_policy
  .gitlab-ci.yml
Due: none

ci: remove unneeded steps from clippy check
  .gitlab-ci.yml
Due: none

ci: remove more unneeded paths
  .gitlab-ci.yml
Due: none

ci: yet another fix
  .gitlab-ci.yml
Due: none

refactor: replace the awful ?: chain with if-else; fix: force update ticker when props.time changed
  packages/client/src/components/global/MkTime.vue
Due: build_test, container_image_build

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: build_test, container_image_build

renote api
  biome.json
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/endpoints/status.ts
Due: build_test, container_image_build

some clean ups
  packages/backend/src/server/api/mastodon/endpoints/status.ts
Due: build_test, container_image_build

docs: update changelog
  docs/changelog.md
Due: none

ci: fix clippy task
  .gitlab-ci.yml
Due: none

chore: lint
  packages/client/src/components/MkNote.vue
  packages/client/src/components/MkNoteSimple.vue
  packages/client/src/components/MkTimeline.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/scripts/fold.ts
  packages/client/src/types/note.ts
Due: build_test, container_image_build

add subscription selection
  docs/downgrade.sql
  packages/backend/src/migration/1715181461692-addMastodonSubscriptionType.ts
  packages/backend/src/models/entities/sw-subscription.ts
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/endpoints/notifications.ts
  packages/backend/src/server/api/mastodon/entities/notification.ts
  packages/backend/src/server/api/mastodon/helpers/notification.ts
  packages/backend/src/services/push-notification.ts
Due: build_test, container_image_build

fix exec
  package.json
Due: build_test, container_image_build

clean up
  backup2
Due: none

some more
  packages/client/src/pages/oauth.vue
  packages/firefish-js/src/api.types.ts
Due: build_test, container_image_build

fix: renote time
  packages/client/src/components/MkNote.vue
Due: build_test, container_image_build

fix (client): missing import
  packages/client/src/pages/settings/delete-account.vue
Due: build_test, container_image_build

chore (backend): remove generate-native-user-token
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/util/random.rs
  packages/backend/src/server/api/common/generate-native-user-token.ts
  packages/backend/src/server/api/common/signup.ts
  packages/backend/src/server/api/endpoints/app/create.ts
  packages/backend/src/server/api/endpoints/auth/accept.ts
  packages/backend/src/server/api/endpoints/i/regenerate-token.ts
  packages/backend/src/server/api/endpoints/miauth/gen-token.ts
  packages/backend/src/services/create-system-user.ts
Due: build_test, container_image_build, cargo_unit_test, cargo_clippy

Path conditions:
  build_test: any of: packages/**/*, scripts/**/*, locales/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  container_image_build: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo_unit_test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo_clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
