Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:check:msrv:
  stage: test
  image: docker.io/rust:1.74-slim-bookworm
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  script:
  - cargo doc --document-private-items
  ...

chore (backend-rs): add doc comments
  packages/backend-rs/src/cache/bare.rs
  packages/backend-rs/src/cache/mod.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

ci: remove apt-get upgrade
  .gitlab-ci.yml
Due: none

refactor (backend): port renderReadActivity to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend-rs/src/federation/activitypub/object/read.rs
  packages/backend/src/remote/activitypub/renderer/read.ts
  packages/backend/src/server/api/common/read-messaging-message.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix (backend): import .js
  packages/backend/src/server/api/common/read-messaging-message.ts
Due: test:build:backend_ts, build:container

fix (backend): note.score is selected by default
  packages/backend/src/server/api/common/inject-featured.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
Due: test:build:backend_ts, build:container

test (backend-rs): add tests for static cache
  packages/backend-rs/src/cache/bare.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency rollup to v4.20.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

refactor (backend): port renderMention to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/follow.rs
  packages/backend-rs/src/federation/activitypub/object/mention.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend/src/remote/activitypub/renderer/mention.ts
  packages/backend/src/remote/activitypub/renderer/note.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): add misc::emoji submodule
  packages/backend-rs/src/federation/activitypub/object/emoji.rs
  packages/backend-rs/src/misc/emoji/emoji.rs
  packages/backend-rs/src/misc/emoji/mod.rs
  packages/backend-rs/src/misc/emoji/reaction.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/note/mod.rs
  packages/backend-rs/src/misc/user/mod.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

fix(deps): update bull-board to v5.21.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore: format
  packages/backend-rs/src/federation/activitypub/object/emoji.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

refactor (backend): port renderHashtag to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/activitypub/object/hashtag.rs
  packages/backend-rs/src/federation/activitypub/object/mod.rs
  packages/backend/src/remote/activitypub/renderer/hashtag.ts
  packages/backend/src/remote/activitypub/renderer/note.ts
  packages/backend/src/remote/activitypub/renderer/person.ts
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (deps): update web-push crate
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore (deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore (backend-rs): address clippy warning
  packages/backend-rs/src/misc/emoji/mod.rs
  packages/backend-rs/src/misc/emoji/unicode.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (client): remove "ALT:" from alt text tooltips
  packages/client/src/components/MkImgWithBlurhash.vue
  packages/client/src/components/MkMedia.vue
  packages/client/src/components/note/MkNoteMedia.vue
Due: test:build:client, build:container

chore(deps): update dependency vue-draggable-plus to v0.5.3
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency is-svg to v5.1.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency adm-zip to v0.5.15
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1668.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency qrcode to v1.5.4
  packages/backend/package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore (backend-rs): recover from mutex poison error
  packages/backend-rs/src/cache/bare.rs
  packages/backend-rs/src/init/system_info.rs
  packages/backend-rs/src/misc/system_info.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): use std OnceLock when possible
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:clippy, cargo:doc

chore(deps): update vue monorepo to v3.4.36
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1669.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update pnpm to v9.7.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

chore(deps): update dependency vite to v5.4.0
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1670.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate serde to 1.0.205
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:check:msrv, cargo:test, cargo:doc

chore(deps): update dependency type-fest to v4.24.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update vue monorepo to v3.4.37
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1671.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

dev: specify correct path to linter
  packages/backend/package.json
  packages/client/package.json
  packages/sw/package.json
Due: test:build:backend_ts, test:build:client, build:container

chore: lint
  packages/backend/src/migration/1644010796173-convert-hard-mutes.ts
  packages/backend/src/migration/1652859567549-uniform-themecolor.ts
  packages/backend/src/models/repositories/renote-muting.ts
  packages/backend/src/models/repositories/reply-muting.ts
  packages/backend/src/queue/processors/db/import-firefish-post.ts
  packages/backend/src/queue/processors/db/import-masto-post.ts
  packages/backend/src/remote/activitypub/request.ts
  packages/backend/src/server/file/byte-range-readable.ts
  packages/backend/src/services/logger.ts
  packages/sw/src/scripts/notification-read.ts
Due: test:build:backend_ts, test:build:client, build:container

fix (client): error image aspect ratio
  packages/client/src/components/global/MkError.vue
Due: test:build:client, build:container

chore: switch from import assertions to import attributes
  docs/notice-for-admins.md
  packages/client/vite.config.ts
  packages/sw/vite.config.ts
Due: test:build:client, build:container

chore: bump required Node.js version
  dev/container/docker-compose.yml
  dev/docs/local-installation.md
  docs/install.md
  packages/backend/src/boot/master.ts
Due: test:build:backend_ts, build:container

v20240809
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:doc

chore(deps): update dependency @types/node to v20.14.15
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:doc

fix(deps): update dependency aws-sdk to v2.1672.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:check:msrv: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
