Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

fix (backend): scheduled reply/renote
  packages/backend/src/queue/processors/db/scheduled-note.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Due: test:build:backend_ts, build:container

fix (backend): fix condition
  packages/backend/src/queue/processors/db/scheduled-note.ts
Due: test:build:backend_ts, build:container

chore (backend): promise handling
  packages/backend/src/queue/processors/db/scheduled-note.ts
Due: test:build:backend_ts, build:container

hotfix for type error
  packages/backend/src/models/repositories/note.ts
Due: test:build:backend_ts, build:container

locale: update translations (English)
  locales/en-US.yml
Due: test:build:client, build:container

chore (backend-rs): prefer unwrap_or_else
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/init/system_info.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/stream.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): remove unused derive
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): refactor storage_usage function
  packages/backend-rs/src/misc/system_info.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): use ws or wss for WebSocket
  packages/backend-rs/src/config/server.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix (backend): update meta cache in admin/update-meta
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
Due: test:build:backend_ts, build:container

perf (backend): store antenna cache in memory
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/service/antenna/cache.rs
  packages/backend-rs/src/service/antenna/mod.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/antenna/update.rs
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/delete.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): remove strum derives
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/antenna.rs
  packages/backend-rs/src/service/stream/channel.rs
  packages/backend-rs/src/service/stream/chat.rs
  packages/backend-rs/src/service/stream/chat_index.rs
  packages/backend-rs/src/service/stream/custom_emoji.rs
  packages/backend-rs/src/service/stream/group_chat.rs
  packages/backend-rs/src/service/stream/moderation.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): change function names
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor (backend): drop support for MK- environment variables
  docs/notice-for-admins.md
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/config/environment.rs
  packages/backend-rs/src/config/mod.rs
  packages/backend/package.json
  packages/backend/src/@types/koa-slow.d.ts
  packages/backend/src/boot/index.ts
  packages/backend/src/boot/master.ts
  packages/backend/src/config.ts
  packages/backend/src/queue/index.ts
  packages/backend/src/server/index.ts
  packages/backend/src/services/logger.ts
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): organize imports
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/config/meta.rs
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/misc/remove_old_attestation_challenges.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/note/watch.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/antenna.rs
  packages/backend-rs/src/service/stream/chat.rs
  packages/backend-rs/src/service/stream/chat_index.rs
  packages/backend-rs/src/service/stream/group_chat.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: format
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend/src/server/api/endpoints/antennas/create.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): use async HTTP requests
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/util/http_client.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend): accept linter suggestions
  packages/backend/src/boot/worker.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/private/signin.ts
Due: test:build:backend_ts, build:container

chore (backend-rs): update comment
  packages/backend-rs/src/misc/remove_old_attestation_challenges.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): fix doc link
  packages/backend-rs/src/misc/password.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

style (backend): don't italicize MFM function contents
  packages/backend/src/mfm/to-html.ts
Due: test:build:backend_ts, build:container

chore (backend-rs): update build script
  packages/backend-rs/Cargo.toml
  packages/backend-rs/build.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: update auto-generated file
  packages/backend-rs/index.d.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix (backend-rs): fix doctest
  packages/backend-rs/src/util/http_client.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix(deps): update bull-board to v5.20.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency got to v14.4.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency execa to v9.2.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1636.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend): fix import
  packages/backend/src/misc/translate.ts
Due: test:build:backend_ts, build:container

fix (backend): fix scheduled reply/quote behavior
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/note/delete.ts
Due: test:build:backend_ts, build:container

fix (backend): fix scheduled draft post streaming
  packages/backend/src/services/note/create.ts
  packages/backend/src/services/note/delete.ts
Due: test:build:backend_ts, build:container

remove queries to scheduled_note table
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

remove fetchMeta argument
  packages/backend/src/models/repositories/drive-file.ts
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/helpers/auth.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
  packages/backend/src/server/api/mastodon/streaming/channels/public.ts
Due: test:build:backend_ts, build:container

fix merge error
  docs/downgrade.sql
Due: none

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

chore (client): use original url for note sharing
  packages/client/src/scripts/get-note-menu.ts
Due: test:build:client, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

ci: automerge lock file maintenance
  renovate.json
Due: none

chore: fix link
  packages/backend-rs/src/misc/nyaify.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc
