Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

chore (client): replace password strength checker
  locales/ar-SA.yml
  locales/bg-BG.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/el-GR.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fi.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/nl-NL.yml
  locales/no-NO.yml
  locales/pl-PL.yml
  locales/ro-RO.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/sv-SE.yml
  locales/th-TH.yml
  locales/tr-TR.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/client/package.json
  packages/client/src/components/MkSignup.vue
  pnpm-lock.yaml
  renovate.json
Due: test:build:client, build:container

docs: update changelog
  docs/changelog.md
Due: none

docs: update install guide
  docs/install.md
Due: none

fix (backend): update tsconfig
  packages/backend/tsconfig.json
Due: test:build:backend_ts, build:container

fix(deps): update dependency ip-cidr to v4.0.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

container: update example compose config
  docker-compose.example.yml
Due: none

container: update dockerignore
  .dockerignore
Due: build:container

chore(deps): update dependency eslint to v9.6.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1651.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

dev: biome --apply -> biome --write
  packages/client/package.json
  packages/firefish-js/package.json
Due: test:build:backend_ts, test:build:client, build:container

dev: replace eslint with biome
  biome.json
  package.json
  packages/backend/package.json
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/megalodon/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

locale: update translations (German)
  locales/de-DE.yml
Due: test:build:client, build:container

locale: update translations (Japanese)
  locales/ja-JP.yml
Due: test:build:client, build:container

dev (backend): disable biome's noNamespace rule for Mastodon API implementation
  biome.json
Due: none

fix: post and scheduled post
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

minor improvements
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build:backend_ts, build:container

fix: scheduled post visibility
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

minor improvements
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

fix generateNoScheduleNotesQuery
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build:backend_ts, build:container

format
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

fix scheduled DM visibility
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

remove unused import
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
Due: test:build:backend_ts, build:container

docs: mention non-Linux systems in installation guide
  docs/install.md
Due: none

remove redundant message
  packages/backend/src/server/api/mastodon/helpers/search.ts
Due: test:build:backend_ts, build:container

respect privacy settings in post search
  packages/backend/src/server/api/mastodon/helpers/search.ts
Due: test:build:backend_ts, build:container

chore: format
  packages/backend/src/server/api/mastodon/helpers/search.ts
Due: test:build:backend_ts, build:container

apply nyaification to Mastodon API response
  packages/backend/src/server/api/mastodon/converters/note.ts
Due: test:build:backend_ts, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

v20240630
  docs/changelog.md
  docs/install.md
  package.json
Due: test:build, build:container, cargo:test, cargo:doc

docs: use heading syntax
  docs/changelog.md
Due: none

docs: list available Mastodon API endpoints/methods
  docs/api-change.md
  packages/backend/src/server/api/mastodon/endpoints/account.ts
  packages/backend/src/server/api/mastodon/endpoints/list.ts
  packages/backend/src/server/api/mastodon/endpoints/notifications.ts
  packages/backend/src/server/api/mastodon/endpoints/timeline.ts
Due: test:build:backend_ts, build:container

docs: put more whitespaces
  docs/api-change.md
Due: none

docs: use tables to list endpoints
  docs/api-change.md
Due: none

docs: fix format
  docs/api-change.md
Due: none

docs: formatting does not work as expected :(
  docs/api-change.md
Due: none

fix: text can be null
  packages/backend/src/server/api/mastodon/converters/note.ts
Due: test:build:backend_ts, build:container
