Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - npm install --global netlify-cli
  script:
  - cargo doc --no-deps --document-private-items
  ...

v20240607
  docs/api-change.md
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
  packages/backend-rs/index.d.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency vite to v5.2.13
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

refactor (backend-rs): save nodeinfo cache directly
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/lib.rs
  packages/backend/src/boot/master.ts
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix (macro-rs): fix doctest
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): be more specific about error variants
  packages/backend-rs/src/federation/nodeinfo/generate.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs, minor): fix code style
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency type-fest to v4.20.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1637.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: give a heads up about the config file changes (#10947)
  docs/notice-for-admins.md
Due: none

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

chore(deps): update dependency vue-tsc to v2.0.20
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore (backend-rs): use Arc for antenna cache
  packages/backend-rs/src/service/antenna/cache.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): PartialNoteToElaborate -> PartialNoteToCheckWordMute
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency vue-tsc to v2.0.21
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore (backend-rs): accept clippy suggestions
  packages/backend-rs/src/misc/get_note_all_texts.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor (backend-rs): create all_texts macro
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update rust crate regex to 1.10.5
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore (backend-rs): rename modules to more comfortable names
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/note/elaborate.rs
  packages/backend-rs/src/misc/note/mod.rs
  packages/backend-rs/src/misc/note/summarize.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend/src/server/web/index.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): shorten doc link text
  packages/backend-rs/src/misc/note/summarize.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency uuid to v10
  packages/backend/package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

chore (backend-rs): more connection checks
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): use proper error type
  packages/backend-rs/src/federation/acct.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): change test names
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/escape_sql.rs
  packages/backend-rs/src/misc/format_milliseconds.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/is_safe_url.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/mastodon_id.rs
  packages/backend-rs/src/misc/note/summarize.rs
  packages/backend-rs/src/misc/nyaify.rs
  packages/backend-rs/src/misc/password.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/util/id.rs
  packages/backend-rs/src/util/random.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update swc monorepo
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore (backend-rs, test): use array instead of vector
  packages/backend-rs/src/misc/check_word_mute.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs, test): remove unneeded # from raw string literals
  packages/backend-rs/src/misc/check_word_mute.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

test (backend-rs): add database connection test
  packages/backend-rs/src/database/postgresql.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update biome to v1.8.1
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update pnpm to v9.3.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1638.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate idna to v1
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore (backend-rs): add idna feature flags
  Cargo.lock
  packages/backend-rs/Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update rust crate url to 2.5.1
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

ci: update renovate config (add package groups)
  renovate.json
Due: none

feature (backend-rs, macro-rs): prittify error outputs for napi export
  packages/backend-rs/src/util/error_chain.rs
  packages/backend-rs/src/util/mod.rs
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): improve error messages
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/misc/convert_host.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/password.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/service/antenna/check_hit.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/util/http_client.rs
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @swc/core to v1.5.28
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
