Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - npm install --global netlify-cli
  script:
  - cargo doc --no-deps --document-private-items
  ...

fix: add space paddings to the end of JSON payload to prevent `esm` from padding null bytes
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: compatibility with Ice Cubes and Mammoth
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: missing imports
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: concat two statements
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: Maser push notifications
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: do not unwrap() Option before checking that it holds a value
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: Ice Cubes push notifications
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: missing var
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: feather push notifications
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: status.reblogged signifies if the status is reblogged by the logged in user, not for the current status
  packages/backend/src/server/api/mastodon/converters/note.ts
Due: test:build:backend_ts, build:container

fix(deps): update dependency redis-semaphore to v5.6.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

dev: update editorconfig
  .editorconfig
  packages/backend-rs/.editorconfig
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency cropperjs to v2.0.0-rc
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

ci: use npx for one time execution
  .gitlab-ci.yml
Due: none

chore (macro-rs): add comments
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: regenerate auto-generated files
  packages/backend-rs/index.d.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

test (backend-rs): add timestamp check
  packages/backend-rs/src/util/id.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): address cargo doc warning
  packages/backend-rs/src/misc/get_note_all_texts.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (macro-rs): address FIXME
  Cargo.lock
  packages/macro-rs/Cargo.toml
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update pnpm to v9.1.3
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

feat: Compress PNG; detect and compare the size of compressed and uncompressed file
  packages/client/src/scripts/upload.ts
Due: test:build:client, build:container

chore: code formatting
  packages/backend/src/server/api/mastodon/helpers/auth.ts
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

chore (backend-rs): add comments
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/federation/mod.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/mod.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/service/mod.rs
  packages/backend-rs/src/service/push_notification.rs
  packages/backend-rs/src/util/http_client.rs
  packages/backend-rs/src/util/id.rs
  packages/backend-rs/src/util/mod.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

ci: document dependencies
  .gitlab-ci.yml
Due: none

fix (backend): make sure to use the exact same time for id and createdAt
  packages/backend/src/services/create-notification.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency ts-jest to v29.1.4
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix(deps): update bull-board to v5.19.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency vite to v5.2.12
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate redis to 0.25.4
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update bull-board to v5.19.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): don't use unsafe unwrap() in examples
  packages/backend-rs/src/database/cache.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix(deps): update dependency @redocly/openapi-core to v1.14.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (Portuguese (Brazil))
  locales/pt-BR.yml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1629.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update definitelytyped
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1630.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): documents, organize exports, typo fixes
  docs/activitypub-extensions.md
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/config/constant.rs
  packages/backend-rs/src/config/mod.rs
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/federation/mod.rs
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/mod.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
  packages/backend-rs/src/init/greet.rs
  packages/backend-rs/src/init/log.rs
  packages/backend-rs/src/init/mod.rs
  packages/backend-rs/src/init/system_info.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/misc/check_server_block.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/convert_host.rs
  packages/backend-rs/src/misc/emoji.rs
  packages/backend-rs/src/misc/escape_sql.rs
  packages/backend-rs/src/misc/format_milliseconds.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/nyaify.rs
  packages/backend-rs/src/misc/password.rs
  packages/backend-rs/src/misc/reaction.rs
  packages/backend-rs/src/misc/remove_old_attestation_challenges.rs
  packages/backend-rs/src/misc/system_info.rs
  packages/backend-rs/src/model/mod.rs
  packages/backend-rs/src/service/mod.rs
  packages/backend-rs/src/util/http_client.rs
  packages/backend-rs/src/util/id.rs
  packages/backend-rs/src/util/mod.rs
  packages/backend-rs/src/util/random.rs
  packages/backend/src/server/api/private/signin.ts
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency sass to v1.77.3
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore: minimize Rust dependencies
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/macro-rs/Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency @swc/core to v1.5.22
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
