Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json

chore(deps): update dependency swiper to v11.1.4
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update pnpm to v9.1.4
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update bull-board to v5.19.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency vue-draggable-plus to v0.5.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

fix: questionable if statements in note import
  packages/backend/src/misc/process-masto-notes.ts
  packages/backend/src/queue/processors/db/import-firefish-post.ts
  packages/backend/src/queue/processors/db/import-masto-post.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency @swc/core to v1.5.24
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore(deps): update dependency @types/jsdom to v21.1.7
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1631.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore: handle a bit more errors
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: DatabaseConnection -> DbConn
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency sass to v1.77.4
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate tokio to 1.38.0
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix (backend-rs): use default features for napi and openssl
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency @vitejs/plugin-vue to v5.0.5
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore (backend-rs): remove unneeded serde derives
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/service/stream/custom_emoji.rs
  packages/backend-rs/src/service/stream/moderation.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs): rename partial note structs
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/service/antenna/process_new_note.rs
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: export searchNotes function
  packages/backend/src/misc/search.ts
  packages/backend/src/server/api/endpoints/notes/search.ts
Due: test:build:backend_ts, build:container

docs: update changelog
  docs/changelog.md
Due: none

v20240601
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:test, cargo:doc

chore (backend-rs): address cargo doc warning
  packages/backend-rs/src/misc/check_word_mute.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore (backend-rs, macro-rs): fix comment style
  packages/backend-rs/src/database/cache.rs
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update definitelytyped
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1632.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (backend-rs): more documents on NodeInfo
  packages/backend-rs/src/federation/nodeinfo/fetch.rs
  packages/backend-rs/src/federation/nodeinfo/generate.rs
  packages/backend-rs/src/federation/nodeinfo/mod.rs
  packages/backend-rs/src/federation/nodeinfo/schema.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency eslint to v9.4.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency adm-zip to v0.5.13
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (deps): fully qualify dependencies from git repo
  packages/backend/package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

chore: update auto-generated file
  packages/backend-rs/index.d.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix (backend): replace deprecated `exist` method
  packages/backend/src/server/api/common/read-messaging-message.ts
  packages/backend/src/server/api/endpoints/admin/promo/create.ts
  packages/backend/src/server/api/endpoints/auth/accept.ts
  packages/backend/src/server/api/endpoints/blocking/create.ts
  packages/backend/src/server/api/endpoints/blocking/delete.ts
  packages/backend/src/server/api/endpoints/clips/add-note.ts
  packages/backend/src/server/api/endpoints/drive/files/check-existence.ts
  packages/backend/src/server/api/endpoints/following/create.ts
  packages/backend/src/server/api/endpoints/following/delete.ts
  packages/backend/src/server/api/endpoints/following/invalidate.ts
  packages/backend/src/server/api/endpoints/gallery/posts/like.ts
  packages/backend/src/server/api/endpoints/i/read-announcement.ts
  packages/backend/src/server/api/endpoints/i/revoke-token.ts
  packages/backend/src/server/api/endpoints/mute/create.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/notes/favorites/create.ts
  packages/backend/src/server/api/endpoints/pages/like.ts
  packages/backend/src/server/api/endpoints/promo/read.ts
  packages/backend/src/server/api/endpoints/renote-mute/create.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/lists/push.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/src/services/create-notification.ts
  packages/backend/src/services/note/unread.ts
Due: test:build:backend_ts, build:container

fix (backend): don't use `findOneBy` to check existence
  packages/backend/src/server/api/common/signup.ts
  packages/backend/src/server/api/endpoints/reply-mute/create.ts
  packages/backend/src/server/api/endpoints/reply-mute/delete.ts
  packages/backend/src/services/create-system-user.ts
Due: test:build:backend_ts, build:container

docs: update notice-for-admins.md (io_uring problem is fixed in Linux kernel 6.9.3)
  docs/notice-for-admins.md
Due: none

chore: allow GET request for /api/latest-version
  docs/api-change.md
  packages/backend/src/server/api/endpoints/latest-version.ts
Due: test:build:backend_ts, build:container

ci: append -dev at the end of version in dev OCI image
  .gitlab-ci.yml
Due: none

chore(deps): update rust crate proc-macro2 to 1.0.85
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

locale: update translations (Spanish)
  locales/es-ES.yml
Due: test:build:client, build:container

locale: update translations (Chinese (Simplified))
  locales/zh-CN.yml
Due: test:build:client, build:container

Ensure unique operationId
  packages/backend/src/server/api/openapi/gen-spec.ts
Due: test:build:backend_ts, build:container

fix(deps): update dependency otpauth to v9.3.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container
