Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - npm install --global netlify-cli
  script:
  - cargo doc --no-deps --document-private-items
  ...

fix(deps): update bull-board to v5.19.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency @redocly/openapi-core to v1.14.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

refactor: adding more fixes from Iceshrimp
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/entities/status.ts
  packages/backend/src/server/api/mastodon/helpers/search.ts
Due: test:build:backend_ts, build:container

fix: SQL syntax in `downgrade.sql`
  docs/downgrade.sql
Due: none

chore: revert recent migrations first in downgrade.sql
  docs/downgrade.sql
Due: none

docs: move user-facing changes to changelog
  docs/changelog.md
  docs/notice-for-admins.md
Due: none

chore: use type imports
  packages/backend/src/migration/1709395223612-swSubscriptionAccessToken.ts
  packages/backend/src/migration/1711075007936-userProfileMentions.ts
  packages/backend/src/migration/1713108561474-clientCredentials.ts
Due: test:build:backend_ts, build:container

chore: format
  packages/backend/src/server/api/mastodon/entities/status.ts
Due: test:build:backend_ts, build:container

chore: update auto-generated files
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/model/entity/user_profile.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: import isQuote from backend-rs
  packages/backend/src/misc/is-quote.ts
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/converters/notification.ts
  packages/backend/src/server/api/mastodon/streaming/channels/public.ts
  packages/backend/src/server/api/mastodon/streaming/channels/tag.ts
  packages/backend/src/server/api/mastodon/streaming/channels/user.ts
Due: test:build:backend_ts, build:container

chore: prevent unexpected variable scope leaks
  packages/backend/src/server/api/mastodon/streaming/channels/user.ts
Due: test:build:backend_ts, build:container

chore: distinguish between database columns and relations
  packages/backend/src/models/entities/sw-subscription.ts
Due: test:build:backend_ts, build:container

chore: port sql-regex-escape to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/misc/escape_sql.rs
  packages/backend/src/misc/sql-regex-escape.ts
  packages/backend/src/server/api/common/generate-fts-query.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

refactor: use ok_or to return errors when Some is expected
  packages/backend-rs/src/service/push_notification.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore: remove from/toMastodonId functions
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/misc/mastodon_id.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend/src/server/api/mastodon/helpers/auth.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: use only necessary fields
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/get_note_summary.rs
  packages/backend-rs/src/misc/is_quote.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

fix: import .js
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
Due: test:build:backend_ts, build:container

fix: typo
  packages/backend/src/server/api/mastodon/entities/instance.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
Due: test:build:backend_ts, build:container

fix: multiple redirect uri support
  packages/backend/src/server/api/mastodon/helpers/auth.ts
Due: test:build:backend_ts, build:container

fix: do not make query if no notification type is requested
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

feat: qr codes for note sharing
  packages/backend/src/server/web/index.ts
  packages/client/src/components/MkQrCode.vue
  packages/client/src/scripts/get-note-menu.ts
Due: test:build:backend_ts, test:build:client, build:container

dev: remove old migration files before regenerating entity
  Makefile
Due: none

fix: parsing payload when registering push notification subscriptions
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

fix: IceCubes wants an int for ID despite the docs says string
  packages/backend/src/server/api/mastodon/converters/notification.ts
Due: test:build:backend_ts, build:container

fix: object typing
  packages/backend/src/server/api/mastodon/entities/push_subscription.ts
Due: test:build:backend_ts, build:container

fix: index
  packages/backend/src/server/api/mastodon/helpers/notification.ts
Due: test:build:backend_ts, build:container

chore(deps): update dependency photoswipe to v5.4.4
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

locale: update translations (Dutch)
  locales/nl-NL.yml
Due: test:build:client, build:container

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: test:build:client, build:container

ci (docs): document private items
  .gitlab-ci.yml
Due: none

chore(deps): update dependency pug to v3.0.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate serde to 1.0.203
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency aws-sdk to v2.1628.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

locale: update translations (French)
  locales/fr-FR.yml
Due: test:build:client, build:container

chore(deps): update dependency type-fest to v4.18.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate proc-macro2 to 1.0.84
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency jsdom to v24.1.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency ajv to v8.14.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
