Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_test, client_build_test, container_image_build, cargo_unit_test, cargo_clippy

Path conditions:
  build_test: any of: packages/backend/*, packages/backend-rs/*, packages/macro-rs/*, packages/megalodon/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  client_build_test: any of: packages/client/*, packages/firefish-js/*, packages/sw/*, locales/**/*
  container_image_build: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo_unit_test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo_clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock

ci: use cargo nextest
  .gitlab-ci.yml
Due: none

locale: update translations (Japanese)
  locales/ja-JP.yml
Due: client_build_test, container_image_build

locale: add the Esperanto language
  locales/eo.yml
Due: client_build_test, container_image_build

locale: update translations (Catalan)
  locales/ca-ES.yml
Due: client_build_test, container_image_build

chore: update pnpm major version
  package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore: let pnpm detect dependencies
  package.json
  scripts/build.mjs
  scripts/copy-index-dev.mjs
  scripts/copy-index.mjs
Due: build_test, container_image_build

ci: don't run cargo test with napi feature flag
  .gitlab-ci.yml
Due: none

feat (macro-rs): add ts_only_warn macro
  packages/backend-rs/src/lib.rs
  packages/macro-rs/src/lib.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

chore (backend-rs): impl FromStr and Display for Acct
  packages/backend-rs/src/misc/acct.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

chore (backend-rs): update doctest comment
  packages/backend-rs/src/database/cache.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

some random fixes
  packages/backend/src/misc/is-filtered.ts
  packages/backend/src/models/repositories/drive-file.ts
  packages/backend/src/models/repositories/user-profile.ts
  packages/backend/src/remote/resolve-user.ts
  packages/backend/src/server/api/common/generate-fts-query.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
  packages/client/src/components/MkPullToRefresh.vue
Due: container_image_build

auto fixes
  packages/backend/src/server/api/mastodon/converters/note.ts
  packages/backend/src/server/api/mastodon/converters/user.ts
  packages/backend/src/server/api/mastodon/endpoints/status.ts
  packages/backend/src/server/api/mastodon/endpoints/timeline.ts
  packages/backend/src/server/api/mastodon/helpers/list.ts
  packages/backend/src/server/api/mastodon/helpers/misc.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/server/api/mastodon/helpers/pagination.ts
  packages/backend/src/server/api/mastodon/helpers/search.ts
  packages/backend/src/server/api/mastodon/helpers/timeline.ts
  packages/backend/src/server/api/mastodon/helpers/user.ts
Due: container_image_build

chore(deps): update dependency @biomejs/biome to v1.7.3
  package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore: fix dependencies
  package.json
  packages/client/package.json
  packages/client/src/scripts/upload.ts
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

ci: fix rules
  .gitlab-ci.yml
Due: none

ci: update renovate config
  renovate.json
Due: none

ci: update config
  .gitlab-ci.yml
Due: none

chore(deps): update dependency @swc/core to v1.5.5
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

docs: fix indent
  docs/notice-for-admins.md
Due: none

chore (backend-rs): move acct to another directory
  packages/backend-rs/src/federation/acct.rs
  packages/backend-rs/src/federation/mod.rs
  packages/backend-rs/src/lib.rs
  packages/backend-rs/src/misc/mod.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

chore (backend): organize imports
  packages/backend/src/boot/master.ts
  packages/backend/src/misc/skipped-instances.ts
  packages/backend/src/queue/processors/inbox.ts
  packages/backend/src/remote/activitypub/check-fetch.ts
  packages/backend/src/remote/activitypub/kernel/announce/note.ts
  packages/backend/src/remote/activitypub/models/note.ts
  packages/backend/src/remote/activitypub/models/person.ts
  packages/backend/src/server/api/endpoints/get-sounds.ts
  packages/backend/src/server/api/endpoints/i/import-posts.ts
  packages/backend/src/server/api/endpoints/i/known-as.ts
  packages/backend/src/server/api/endpoints/i/move.ts
  packages/backend/src/server/api/endpoints/notes/edit.ts
  packages/backend/src/server/api/endpoints/pages/create.ts
  packages/backend/src/server/api/endpoints/pinned-users.ts
  packages/backend/src/server/api/endpoints/sw/register.ts
  packages/backend/src/server/api/mastodon/endpoints/timeline.ts
  packages/backend/src/server/index.ts
  packages/backend/src/services/register-or-fetch-instance-doc.ts
Due: container_image_build

chore (backend-rs): impl From<Acct> for String
  packages/backend-rs/src/federation/acct.rs
Due: container_image_build, cargo_unit_test, cargo_clippy

container: reorder build operations to use cargo build cache on deps updates
  Dockerfile
Due: container_image_build

ci: enable Static Application Security Testing
  .gitlab-ci.yml
Due: none

ci: add sast-ruleset.toml
  .gitlab/sast-ruleset.toml
Due: none

ci: add container scanning
  .gitlab-ci.yml
Due: none

ci: edit sast config
  .gitlab-ci.yml
  .gitlab/sast-ruleset.toml
Due: none

ci: disable nodejs-scan
  .gitlab-ci.yml
Due: none

chore(deps): update dependency @types/jsrsasign to v10.5.14
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency @types/nodemailer to v6.4.15
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency cropperjs to v2.0.0-beta.5
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update dependency vite to v5.2.11
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update vue monorepo to v3.4.27
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

fix(deps): update dependency otpauth to ^9.2.4
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency systeminformation to v5.22.8
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency eslint to ^9.2.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

chore(deps): update dependency rollup to v4.17.2
  packages/client/package.json
  pnpm-lock.yaml
Due: build_test, client_build_test, container_image_build

chore(deps): update dependency ws to v8.17.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build

fix(deps): update dependency @bull-board/ui to v5.17.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: build_test, container_image_build
