Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts_only, test:build:client_only, build:container, cargo:test, cargo:clippy

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock
  test:build:backend_ts_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/backend/**/*, packages/megalodon/**/*)
  test:build:client_only: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, pnpm-lock.yaml, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock

chore(deps): update rust crate syn to 2.0.64
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency sharp to v0.33.4
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix(deps): update dependency aws-sdk to v2.1622.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy

chore (backend-rs): rename types and modules
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/init/mod.rs
  packages/backend-rs/src/init/system_info.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/misc/system_info.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore(deps): update dependency sass to v1.77.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build, build:container

refactor (backend): port check-hit-antenna to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/misc/add_note_to_antenna.rs
  packages/backend-rs/src/misc/check_hit_antenna.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/get_note_all_texts.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/service/antenna.rs
  packages/backend-rs/src/service/mod.rs
  packages/backend/src/misc/check-hit-antenna.ts
  packages/backend/src/services/note/create.ts
Due: test:build, build:container, cargo:test, cargo:clippy

refactor (backend): convert jsonb to array
  docs/downgrade.sql
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/model/entity/antenna.rs
  packages/backend-rs/src/model/entity/user_profile.rs
  packages/backend/src/migration/1714192520471-antenna-jsonb-to-array.ts
  packages/backend/src/migration/1714259023878-drop-unused-userprofile-columns.ts
  packages/backend/src/migration/1714270605574-userprofile-jsonb-to-array.ts
  packages/backend/src/misc/check-hit-antenna.ts
  packages/backend/src/models/entities/antenna.ts
  packages/backend/src/models/entities/user-profile.ts
  packages/backend/src/models/repositories/antenna.ts
  packages/backend/src/models/repositories/user.ts
  packages/backend/src/server/api/common/generate-muted-user-query.ts
  packages/backend/src/server/api/common/generated-muted-renote-query.ts
  packages/backend/src/server/api/common/generated-muted-reply-query.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/src/server/api/endpoints/i/notifications.ts
  packages/backend/src/server/api/endpoints/i/update.ts
Due: test:build, build:container, cargo:test, cargo:clippy

refactor (backend): don't check word mute twice
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/misc/check_hit_antenna.rs
  packages/backend-rs/src/misc/check_word_mute.rs
  packages/backend-rs/src/misc/is_quote.rs
  packages/backend-rs/src/misc/mod.rs
  packages/backend-rs/src/service/antenna.rs
  packages/backend/src/misc/antenna-cache.ts
  packages/backend/src/services/note/create.ts
Due: test:build, build:container, cargo:test, cargo:clippy

fix (backend-rs): typo
  packages/backend-rs/src/misc/check_hit_antenna.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore (backend-rs): add TODO comment
  packages/backend-rs/src/service/antenna.rs
Due: test:build, build:container, cargo:test, cargo:clippy

chore: format
  packages/backend/src/services/note/create.ts
Due: test:build:backend_ts_only, build:container

test (backend-rs): add unit test for word mute
  packages/backend-rs/src/misc/check_word_mute.rs
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency bull to v4.12.5
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

fix: add key to v-for in MkNotificationFolded
  packages/client/src/components/MkNotificationFolded.vue
Due: test:build:client_only, build:container

chore(deps): update dependency chart.js to v4.4.3
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update rust crate thiserror to 1.0.61
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency aws-sdk to v2.1623.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

chore(deps): update dependency eslint to v9.3.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

refactor (backend-rs): use async redis commands
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/misc/check_hit_antenna.rs
  packages/backend-rs/src/misc/get_image_size.rs
  packages/backend-rs/src/misc/latest_version.rs
  packages/backend-rs/src/service/antenna.rs
  packages/backend-rs/src/service/nodeinfo/generate.rs
  packages/backend-rs/src/service/stream.rs
  packages/backend-rs/src/service/stream/antenna.rs
  packages/backend-rs/src/service/stream/channel.rs
  packages/backend-rs/src/service/stream/chat.rs
  packages/backend-rs/src/service/stream/chat_index.rs
  packages/backend-rs/src/service/stream/custom_emoji.rs
  packages/backend-rs/src/service/stream/group_chat.rs
  packages/backend-rs/src/service/stream/moderation.rs
  packages/backend/src/server/api/common/read-messaging-message.ts
  packages/backend/src/server/api/common/read-notification.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/backend/src/server/api/endpoints/i/known-as.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/notifications/mark-all-as-read.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/backend/src/server/api/stream/index.ts
  packages/backend/src/services/create-notification.ts
  packages/backend/src/services/messages/create.ts
  packages/backend/src/services/messages/delete.ts
Due: test:build, build:container, cargo:test, cargo:clippy

chore: lint
  packages/backend-rs/src/misc/check_word_mute.rs
Due: test:build, build:container, cargo:test, cargo:clippy

feat (backend-rs): impl bb8::ManageConnection for RedisConnectionManager
  COPYING
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/backend-rs/src/database/redis.rs
Due: test:build, build:container, cargo:test, cargo:clippy

refactor (backend-rs): use bb8 connection pool for Redis
  packages/backend-rs/src/database/cache.rs
  packages/backend-rs/src/database/mod.rs
  packages/backend-rs/src/database/redis.rs
  packages/backend-rs/src/service/antenna.rs
  packages/backend-rs/src/service/stream.rs
Due: test:build, build:container, cargo:test, cargo:clippy

ci: buildah prune before build
  .gitlab-ci.yml
Due: none

temporarily revert push noti changes.
  packages/backend/package.json
  packages/backend/src/server/api/mastodon/helpers/auth.ts
  packages/backend/src/server/api/mastodon/helpers/note.ts
  packages/backend/src/services/create-notification.ts
  packages/backend/src/services/messages/create.ts
  packages/firefish-js/src/schema/note.ts
  pnpm-lock.yaml
Due: test:build, build:container

ci: buildah package on bookworm is too old
  .gitlab-ci.yml
Due: none

refactor (backend-rs): read version from package.json at compile time
  Cargo.lock
  packages/backend-rs/build.rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/src/config/server.rs
  packages/macro-rs/Cargo.toml
  packages/macro-rs/src/lib.rs
Due: test:build, build:container, cargo:test, cargo:clippy

meta: macro_rs -> macro-rs
  Cargo.lock
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/macro-rs/Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

refactor (backend): port greet to backend-rs
  packages/backend-rs/index.d.ts
  packages/backend-rs/index.js
  packages/backend-rs/src/config/server.rs
  packages/backend-rs/src/init/greet.rs
  packages/backend-rs/src/init/mod.rs
  packages/backend/package.json
  packages/backend/src/boot/master.ts
  packages/client/vite.config.ts
  pnpm-lock.yaml
  scripts/copy-assets.mjs
Due: test:build, build:container, cargo:test, cargo:clippy

ci: cargo test no longer depends on other workspaces
  .gitlab-ci.yml
Due: none

ci: fix typo
  .gitlab-ci.yml
Due: none

chore (backend-rs, minor): use crate::export
  packages/backend-rs/src/init/greet.rs
Due: test:build, build:container, cargo:test, cargo:clippy

ci: use buildah image directly
  .gitlab-ci.yml
Due: none

ci: fix conditions
  .gitlab-ci.yml
Due: none

fix(deps): update dependency bull to v4.12.6
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container

ci: try overlay2
  .gitlab-ci.yml
Due: none

feat: fold poll
  packages/client/src/components/MkNotificationFolded.vue
  packages/client/src/scripts/fold.ts
  packages/client/src/types/notification.ts
Due: test:build:client_only, build:container

chore(deps): update rust crate napi-derive to 2.16.5
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy

fix(deps): update dependency got to v14.3.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build, build:container
