Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - npm install --global netlify-cli
  script:
  - cargo doc --no-deps --document-private-items
  ...

chore (backend): remove unused package
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

container: do not specify target CPU in container image build
  Dockerfile
  packages/backend-rs/package.json
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency cropperjs to v2.0.0-rc.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency vue-tsc to v2.0.22
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update vue monorepo to v3.4.30
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

meta: remove unused napi-related files
  Dockerfile
  packages/backend-rs/npm/android-arm-eabi/README.md
  packages/backend-rs/npm/android-arm-eabi/package.json
  packages/backend-rs/npm/android-arm64/README.md
  packages/backend-rs/npm/android-arm64/package.json
  packages/backend-rs/npm/darwin-arm64/README.md
  packages/backend-rs/npm/darwin-arm64/package.json
  packages/backend-rs/npm/darwin-universal/README.md
  packages/backend-rs/npm/darwin-universal/package.json
  packages/backend-rs/npm/darwin-x64/README.md
  packages/backend-rs/npm/darwin-x64/package.json
  packages/backend-rs/npm/freebsd-x64/README.md
  packages/backend-rs/npm/freebsd-x64/package.json
  packages/backend-rs/npm/linux-arm-gnueabihf/README.md
  packages/backend-rs/npm/linux-arm-gnueabihf/package.json
  packages/backend-rs/npm/linux-arm64-gnu/README.md
  packages/backend-rs/npm/linux-arm64-gnu/package.json
  packages/backend-rs/npm/linux-arm64-musl/README.md
  packages/backend-rs/npm/linux-arm64-musl/package.json
  packages/backend-rs/npm/linux-x64-gnu/README.md
  packages/backend-rs/npm/linux-x64-gnu/package.json
  packages/backend-rs/npm/linux-x64-musl/README.md
  packages/backend-rs/npm/linux-x64-musl/package.json
  packages/backend-rs/npm/win32-arm64-msvc/README.md
  packages/backend-rs/npm/win32-arm64-msvc/package.json
  packages/backend-rs/npm/win32-ia32-msvc/README.md
  packages/backend-rs/npm/win32-ia32-msvc/package.json
  packages/backend-rs/npm/win32-x64-msvc/README.md
  packages/backend-rs/npm/win32-x64-msvc/package.json
  packages/backend-rs/package.json
  renovate.json
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

container: update .dockerignore
  .dockerignore
Due: build:container

docs: update changelog
  docs/changelog.md
Due: none

ci: update renovate config
  renovate.json
Due: none

ci: fix typo (closes #10953)
  renovate.json
Due: none

container: work around the build issue on linux/arm64
  Dockerfile
Due: build:container

v20240623
  docs/changelog.md
  package.json
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.68
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency matter-js to v0.20.0
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update bull-board to v5.20.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency throttle-debounce to v5.0.2
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update bull-board to v5.20.4
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency mocha to v10.5.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1647.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency mocha to v10.5.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update rust crate serde_json to 1.0.118
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency bull to v4.14.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1648.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @types/node to v20.14.9
  package.json
  packages/backend/package.json
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update bull-board to v5.20.5
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix (backend-rs): do not specify RUSTFLAGS over napi-rs cli (at least for now)
  Dockerfile
  packages/backend-rs/package.json
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency mocha to v10.5.2
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency aws-sdk to v2.1649.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (deps): use proper napi-rs versions
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update biome to v1.8.3
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency vite to v5.3.2
  packages/client/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1650.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore (dev): update biome config schema
  biome.json
Due: none

dev: return to tsc
  package.json
  packages/backend/.swcrc
  packages/backend/package.json
  packages/backend/src/models/entities/drive-file.ts
  packages/backend/src/services/note/create.ts
  packages/backend/tsconfig.json
  packages/firefish-js/.swcrc
  packages/firefish-js/package.json
  packages/firefish-js/src/index.ts
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore (backend-rs): use --dts-header option
  packages/backend-rs/index.d.ts
  packages/backend-rs/package.json
  packages/backend/src/@types/backend-rs.d.ts
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

meta: remove unused files
  Procfile
  cliff.toml
  docs/firefish.nginx.conf
  docs/install.md
  packages/meta.json
  release.json
Due: build:container

chore (backend-rs): add package.json to the source of index.{js,d.ts}
  packages/backend-rs/Makefile
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update vue monorepo to v3.4.31
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

feat (client): add ability to append #Alt4Me automatically
  locales/en-US.yml
  packages/client/src/account.ts
  packages/client/src/components/MkPostForm.vue
  packages/client/src/pages/settings/general.vue
  packages/client/src/pages/settings/preferences-backups.vue
  packages/client/src/store.ts
Due: test:build:client, build:container

fix (client): boost tooltip not showing boosted users
  packages/backend/src/server/api/endpoints/notes/renotes.ts
  packages/client/src/components/MkRenoteButton.vue
Due: test:build:backend_ts, test:build:client, build:container

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
