Repository blueset/fireghoti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:build, test:build:backend_ts, test:build:client, build:container, cargo:test, cargo:clippy, cargo:doc

test:build:
  stage: test
  needs:
  - job: cargo:clippy
    optional: true
  - job: cargo:test
    optional: true
  script:
  - pnpm install --frozen-lockfile
  - pnpm run build:debug
  - pnpm run migrate
  - psql --host postgres --user "${POSTGRES_USER}" --dbname "${POSTGRES_DB}" --command "$(cat docs/downgrade.sql)"

test:build:backend_ts:
  stage: test
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential clang mold python3 perl nodejs postgresql-client
  ...

test:build:client:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get -y --no-install-recommends install curl
  - curl -fsSL 'https://deb.nodesource.com/setup_18.x' | bash -
  - apt-get install -y --no-install-recommends build-essential python3 perl nodejs
  - corepack enable
  ...

build:container:
  stage: build
  image: docker.io/debian:trixie-slim
  services: []
  needs:
  - job: test:build
    optional: true
  - job: test:build:backend_ts_only
    optional: true
  - job: test:build:client_only
    optional: true
  variables:
    STORAGE_DRIVER: overlay
  before_script:
  - apt-get update && apt-get -y upgrade
  ...

cargo:test:
  stage: test
  script:
  - curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C /usr/local/cargo/bin
  - cargo test --doc
  - cargo nextest run

cargo:clippy:
  stage: test
  services: []
  before_script:
  - apt-get update && apt-get -y upgrade
  - apt-get install -y --no-install-recommends build-essential clang mold perl
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - rustup component add clippy
  script:
  - cargo clippy -- -D warnings

cargo:doc:
  stage: doc
  services: []
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends build-essential clang mold nodejs npm
  - cp ci/cargo/config.toml /usr/local/cargo/config.toml
  - npm install --global netlify-cli
  script:
  - cargo doc --no-deps --document-private-items
  ...

chore(deps): lock file maintenance
  Cargo.lock
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore (deps): Cargo.lock maintenance
  Cargo.lock
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update dependency cropperjs to v2.0.0-rc.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate napi to 3.0.0-alpha.4
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore (client): remove link to the emoji pack creator
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ko-KR.yml
  locales/no-NO.yml
  locales/ru-RU.yml
  locales/tr-TR.yml
  locales/uk-UA.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/client/src/pages/admin/emojis.vue
Due: test:build:client, build:container

chore (client): don't "auto correct" post language by default
  packages/client/src/store.ts
Due: test:build:client, build:container

chore(deps): update rust crate napi to 3.0.0-alpha.5
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

locale: update translations (Esperanto)
  locales/eo.yml
Due: test:build:client, build:container

locale: update translations (Spanish)
  locales/es-ES.yml
Due: test:build:client, build:container

chore(deps): update rust crate napi-derive to 3.0.0-alpha.4
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate serde to 1.0.204
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate syn to 2.0.69
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate napi to 3.0.0-alpha.6
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update pnpm to v9.5.0
  package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate async-trait to 0.1.81
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update rust crate napi-derive to 3.0.0-alpha.5
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency file-type to v19.1.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: fix indent
  docs/notice-for-admins.md
Due: none

docs: update notice-for-admins.md
  docs/notice-for-admins.md
Due: none

meta: add discussion issue template
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/discussion.md
  .gitlab/issue_templates/feature.md
Due: none

meta: add locale label to issue templates
  .gitlab/issue_templates/default.md
  .gitlab/issue_templates/discussion.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/refactor.md
Due: none

locale: update translations (German)
  locales/de-DE.yml
Due: test:build:client, build:container

fix (backend-rs): use tokio::sync::OnceCell for connection pools
  packages/backend-rs/src/database/postgresql.rs
  packages/backend-rs/src/database/redis.rs
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

meta: clarify the licenses
  .gitignore
  COPYING
  custom/LICENSE
  packages/backend-rs/Cargo.toml
  packages/backend-rs/package.json
  packages/backend/package.json
  packages/client/package.json
  packages/macro-rs/LICENSE-APACHE
  packages/macro-rs/LICENSE-MIT
  packages/macro-rs/macros-impl/Cargo.toml
  packages/macro-rs/macros/Cargo.toml
  packages/sw/package.json
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

meta (backend-rs, macro-rs): set Rust version and edition in root
  Cargo.toml
  packages/backend-rs/Cargo.toml
  packages/macro-rs/macros-impl/Cargo.toml
  packages/macro-rs/macros/Cargo.toml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

docs: update changelog
  docs/changelog.md
Due: none

v20240710
  docs/api-change.md
  docs/changelog.md
  docs/notice-for-admins.md
  package.json
Due: test:build, build:container, cargo:test, cargo:doc

chore(deps): update definitelytyped
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency @napi-rs/cli to v3.0.0-alpha.57
  packages/backend-rs/package.json
  pnpm-lock.yaml
Due: test:build, build:container, cargo:test, cargo:clippy, cargo:doc

chore(deps): update dependency sass to v1.77.7
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update dependency vue-draggable-plus to v0.5.1
  packages/client/package.json
  pnpm-lock.yaml
Due: test:build:client, build:container

chore(deps): update rust crate syn to 2.0.70
  Cargo.lock
  Cargo.toml
Due: test:build, build:container, cargo:test, cargo:doc

fix(deps): update dependency async-lock to v1.4.1
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

fix(deps): update dependency qs to v6.12.3
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

chore(deps): update dependency ts-jest to v29.2.0
  packages/firefish-js/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, test:build:client, build:container

fix(deps): update dependency aws-sdk to v2.1657.0
  packages/backend/package.json
  pnpm-lock.yaml
Due: test:build:backend_ts, build:container

docs: fix merge
  docs/api-change.md
  docs/notice-for-admins.md
Due: none

Path conditions:
  test:build: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock
  test:build:backend_ts: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock, docs/downgrade.sql)) and (any of: packages/backend/**/*, packages/firefish-js/**/*, packages/megalodon/**/*)
  test:build:client: (not (any of: packages/backend-rs/**/*, packages/macro-rs/**/*, scripts/**/*, package.json, Cargo.toml, Cargo.lock)) and (any of: packages/client/**/*, packages/firefish-js/**/*, packages/sw/**/*, locales/**/*)
  build:container: any of: packages/**/*, locales/**/*, scripts/copy-assets.mjs, package.json, Cargo.toml, Cargo.lock, Dockerfile, .dockerignore
  cargo:test: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
  cargo:clippy: any of: packages/backend-rs/**/*, packages/macro-rs/**/*
  cargo:doc: any of: packages/backend-rs/**/*, packages/macro-rs/**/*, Cargo.toml, Cargo.lock, package.json
